[2022-08-13 02:27] sweatybridge commented on #353
Hi @troels , we fixed the issue with `db remote changes` here https://github.com/supabase/cli/releases/tag/v0.38.7. Could you try upgrading to the latest version 0.39.3?

[2022-08-15 09:27] OskarArce opened #365 "Invite users"
# Bug report

## Describe the bug

It is not possible to invite new users (local development)

## To Reproduce

Steps to reproduce the crash:

1. Initialize new project `$ mkdir your-project && cd $_`
2. Initialize Supabase `supabase init`
3. Start Supabase `supabase start`
4. Open [Supabase Studio](http://localhost:54323/project/default)
5. Navigate to [Users](http://localhost:54323/project/defau

[2022-08-15 09:56] troels commented on #353
Hi @sweatybridge

Yes, it's working now.

[2022-08-15 20:23] Curetix opened #368 "Docker images are wrong architecture"
# Bug report

## Describe the bug
When pulling from the ECR repository (#364), some of the images are the wrong architecture (arm64 instead of x86/amd64). This results in noticeably reduced performance of local requests (due to emulation I guess). Images affected: Deno Relay, Studio, Kong, PG Meta.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1.

[2022-08-16 05:27] sweatybridge commented on #368
Hi @Curetix , I can reproduce this issue locally. We will mirror the x86 images shortly and let you know once it's done. Meanwhile, if this is blocking, you may switch to docker registry using:

[code]

[2022-08-16 05:35] sweatybridge commented on #368
We have pushed out x86 images. You can reset your local image cache and restart supabase local:

[code]

[2022-08-16 06:03] sweatybridge commented on #365
Hi @OskarArce , thanks for reporting. I can reproduce this locally and we are working on a fix. I will ping you again once the fix is released.

[2022-08-16 06:04] sweatybridge commented on #315
closing this for now as it's superseded by #365

[2022-08-16 06:04] #315 closed

[2022-08-16 06:17] sweatybridge commented on #353
Our new docs site for v1 is now live:

- Local development guide: https://supabase.com/docs/guides/cli/local-development
- CI / CD guide: https://supabase.com/docs/guides/cli/cicd-workflow

The commands listed in [CLI reference](https://supabase.com/docs/reference/cli) are expected to have no breaking changes for this major version.

Hope it helps!

[2022-08-16 06:17] #353 closed

[2022-08-16 06:58] sweatybridge commented on #181
Hi @iAmWillShepherd , we have recently released a [new migration guide](https://supabase.com/docs/guides/cli/cicd-workflow) that fleshes out the conceptual model in more detail, including setting up CI/CD pipeline, and troubleshooting FAQ. We would love to hear your feedback if you find the time to try it out.

[2022-08-16 07:03] Curetix commented on #368
Thank you!

[2022-08-16 07:03] #368 closed

[2022-08-16 07:22] sweatybridge commented on #294
To address this specific issue of `db reset` failing, we no longer return an error when PostgREST container is not found. https://github.com/supabase/cli/blob/main/internal/db/reset/reset.go#L216 Reason is purging schema cache is more of a post run action that shouldn't affect the exit code of `db reset`.

Regarding the broader issue of `supabase stop` not working, we would need more details to re

[2022-08-16 13:18] sweatybridge commented on #365
We have fixed this issue in the latest version of `studio`. You may need to clear your local image cache and restart supabase to fetch the latest version.

[code]

[2022-08-16 13:54] sweatybridge commented on #267
The file that we currently store under `~/.supabase` is the personal access token that you used to login. I don't think it falls under the category `Application Support`, `Preferences`, or `Caches`. A safer place to store is probably Keychain but getting it to work consistently across Linux and Windows will be non-trivial.

One way to stop the CLI from creating this file is to set the `SUPABASE_AC

[2022-08-16 14:33] ff6347 opened #369 "supabase db diff fails in several cases"
# Bug report

## Describe the bug

supabase db diff with simple setup
Migra fails with functions that have variable declarations.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

When I create a new project and add a function (taken from the docs) the diff fails.

I ran the following steps:

[code]

Connect to the DB using TablePlus and add the foll

[2022-08-16 16:40] probablykasper commented on #267
`Application Support` is where app data is stored. The [guidelines](https://developer.apple.com/library/archive/documentation/FileManagement/Conceptual/FileSystemProgrammingGuide/MacOSXDirectories/MacOSXDirectories.html) say this:
<table>
<tr><td scope="row"><p><code>Application Support</code></p></td><td><p>Contains all app-specific data and support files. These are the files that your app create

[2022-08-16 16:50] probablykasper commented on #294
Sounds good! I've only ran into this twice, so I'll just make sure to open another issue if it ever happens again

[2022-08-16 16:50] #294 closed

[2022-08-16 18:23] jchekanoff opened #371 "Local Development fails to move beyond "Connecting to Default Project""
# Bug report

## Describe the bug

After installing Supabase CLI v1.0.1, I am unable to successfully access the project via the localhost GUI.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Install Supabase CLI v1.0.1
2. Run `supabase start`
3. Visit studio url

## Expected behavior

Supabase local project loads as expected

## Screenshots

![i

[2022-08-16 18:26] pixtron opened #372 "generating typescript type fails when there is certain special chars in password"
# Bug report

## Describe the bug

I tried to run this command:

[code]

The password contained the special chars `$`, `#` and `%`. The command failed with

[code]

Did some further tests:
- `$`, `%` in password work
- `#`, `?`  in password does not work

## To Reproduce

See above.

## Expected behavior

Should work with any special char.

## System information

- OS: macOS
- Version of supabase-

[2022-08-17 02:50] sweatybridge commented on #369
Thank you for reporting this bug.

This turns out to be an issue with applying migrations where we used batched query locally. I've switched to simple query in v1.0.2 which sends the migration script as one string to local Postgres.

Let me know if the latest cli works for you.

[2022-08-17 03:00] sweatybridge commented on #371
Hi @jchekanoff , in v1.0.1 we switched default image registry from docker hub to ECR. I suspect your error is due to outdated local image cache. Could you run the following commands to see if it works.

[code]

[2022-08-17 06:50] kryptovergleichde opened #375 "Error: Error response from daemon: Conflict. The container name "/supabase_gen_types_typescript" is already in use by container ..."
# Bug report

First of all, I am so happy about the changes in Launch Week! Great work. Hyped to try out the Type Generator and the New V2 Supabase JS. But I encountered some issues with it.

## Describe the bug

I want to run the typescript generator for a remote url. It errors. See below for details.

## To Reproduce

I am trying to get the typescript generator to run.
I followed the documentati

[2022-08-17 07:12] #372 closed

[2022-08-17 07:12] kryptovergleichde commented on #375
- Upgraded to v1.0.2 as I saw it was recently published.
- Also resetted my DB password to make sure it's the right one
- Restarted the Supabase Live Instance
still the same behaviour.

[2022-08-17 07:16] sweatybridge commented on #375
Hi @kryptovergleichde , thanks for reporting. I think our previous code was not removing containers reliably. This should be fixed in v1.0.3 where we rely on docker to auto remove. https://github.com/supabase/cli/pull/374

The new version should appear in homebrew in a few minutes.

[2022-08-17 07:18] sweatybridge commented on #372
Hi @pixtron , we are now escaping passwords in v1.0.3. Feel free to open this ticket again if it doesn't solve your issue.

[2022-08-17 07:28] kryptovergleichde commented on #375
@sweatybridge Thank you for your quick answer! Installed v1.0.3, and yes indeed, I am able to generate types. I still have errors with linking, but this would may be another issue. Will try to find a solution. Closing this then.

[2022-08-17 07:28] #375 closed

[2022-08-17 07:49] pixtron commented on #372
@sweatybridge successfully tested with `#`, `:`, `.`, `/`, `@` in the password. Great job!

But with `v1.0.3` i get an new error when running typegen command with `--dbUrl`: "Error: Error response from daemon: network supabase_network_supabase-test not found"

I can fix that by running `supabase start` first. With `v1.0.1` i think i did not need to start a local instance to connect to a remote ins

[2022-08-17 09:30] ff6347 commented on #369
Hi @sweatybridge I installed v1.0.3 I can generate and apply migrations (tested locally) when using migra. The default diff command still gives me an error.

[code]

[2022-08-17 09:50] sweatybridge commented on #369
Thanks for confirming. I believe the default diff was broken due to a corrupted image when we transferred to ECR. I will work on a fix.

[2022-08-17 10:25] sweatybridge commented on #372
Yup, good catch. Changing it back to not require `start` in v1.0.4.

[2022-08-17 10:33] sweatybridge commented on #365
Feel free to open this ticket again if you are still having issues with new version.

[2022-08-17 10:35] #365 closed

[2022-08-17 10:44] sweatybridge commented on #135
Closing this issue since the containers are started in background in cli v1.

[2022-08-17 10:44] #135 closed

[2022-08-17 10:47] #87 closed

[2022-08-17 10:50] sweatybridge commented on #96
Related to #287

[2022-08-17 10:57] sweatybridge commented on #136
With cli v1, you can use `supabase db diff —use-migra` to generate schema DDL. Pass it `—schema` flag to include all schema you want to diff.

Feel free to open this again if it doesn’t work for you.

[2022-08-17 10:57] #136 closed

[2022-08-17 10:58] sweatybridge commented on #285
I believe this is a similar issue as #136. You may try the experimental migra tool to generate schema DDLs.

[2022-08-17 11:07] sweatybridge commented on #181
Feel free to open this ticket again if you run into problems.

[2022-08-17 11:07] #181 closed

[2022-08-17 12:26] sweatybridge commented on #276
Hi @kaleabmelkie , appreciate your patience in waiting for us to get this issue sorted. With cli v1, we added better support for doing the initial dump with `db remote commit`. More information here https://supabase.com/docs/guides/cli/cicd-workflow#setting-up-a-project

Please give it a try and see if it works. Feel free to reopen this ticket if your issue persists.

[2022-08-17 12:27] #276 closed

[2022-08-17 12:38] #258 closed

[2022-08-17 15:53] ff6347 opened #377 "Serving supabase edge functions locally fails"
# Bug report

## Describe the bug

On a fresh supabase project I get an error when trying to run a deno function:

[code]

## To Reproduce

Steps to reproduce:

[code]

## Expected behavior

function should be served and accessible.

## System information

- OS: macOS 12.3
- supabase/cli: 1.0.4

[2022-08-17 16:29] lukebussey commented on #371
@sweatybridge That didn't work for me. The reason is that `supabase_rest_backend` keeps crashing every 5-6 seconds. the image being used is `public.ecr.aws/t3w2s2c9/postgrest:v9.0.1.20220802`

[2022-08-17 16:50] rphlmr commented on #371
Same issue here with message `configuration file provided: not found`

[2022-08-17 16:54] sweatybridge commented on #371
Just to be sure it's an issue with the image, could you try the following
[code]

It should switch images back to those hosted on docker hub.

[2022-08-17 16:57] lukebussey commented on #371
@sweatybridge I receive this error now:
[code]

[2022-08-17 16:59] sweatybridge commented on #377
May I check if you are using M1 mac?

[2022-08-17 17:42] sweatybridge commented on #371
Sorry I broke image pull in v1.0.4. Just released v1.0.5 to fix that.

[2022-08-17 17:52] HegarGarcia commented on #371
Cannot start the local environment even with v1.0.5. `public.ecr.aws/t3w2s2c9/postgrest:v9.0.1.20220802` keeps restarting

[2022-08-17 18:18] #369 closed

[2022-08-17 18:22] sweatybridge commented on #371
Ok I'm quite certain it's due to missing arm64 postgREST image on ECR. So if you are using m1 mac, please upgrade to latest and run with `SUPABASE_INTERNAL_IMAGE_REGISTRY=docker.io supabase start`.

I will try to get the postgREST image mirrored from docker hub tmr https://hub.docker.com/r/postgrest/postgrest/tags

[2022-08-17 18:33] lukebussey commented on #371
@sweatybridge v1.0.5 worked for me - thanks!

[2022-08-17 18:59] HegarGarcia commented on #371
Completely right, ran that command and works! Thanks a lot!

[2022-08-17 19:47] ff6347 commented on #377
Yes. It is an M1. It was working before though 🤷🏽‍♂️.

[2022-08-18 03:35] zhihengGet opened #430 "supabass cli error in wsl2"
# Bug report

## Describe the bug

running supabsae cli in wsl2  gave error when getting typescripts from schema

Error: error running container
triggerUncaughtException(err, true /* fromPromise */);
            ^
[UnhandledPromiseRejection: This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). The

[2022-08-18 07:11] iolyd opened #380 "Trouble using CLI for local development, type generation, and remote sync when schema depends on certain extensions"
# Bug report

## Describe the bug

Reading around, I've come to understand that for the time being (or forever?), migrations generated using `supabase diff` do not include extensions. While it is an easy manual fix to add some lines like `create extension moddatetime;` to the resulting migration file(s), the problem seems a bit more tricky with postgis and the schema it creates. I'm also encounter

[2022-08-18 07:36] ff6347 commented on #377
Just a heads up. I updated to v1.0.6 and the issue still persists. For all others having the same issue my workaround is to run deno directly for debugging my function:

[code]

[2022-08-18 08:09] #377 closed

[2022-08-18 09:13] Flambe opened #382 "Updating Postgres"
I'm using pg_graphql which is getting frequent updates, but these updates don't seem to be making it through to the CLI that often. I saw that someone [made a PR](https://github.com/supabase/cli/pull/299) to use the latest postgres image last month, but this got reverted.

Are there any plans to update the postgres image more frequently?

[2022-08-18 09:57] ff6347 commented on #377
Thank you its working now!

[2022-08-18 10:54] ff6347 commented on #369
FYI `supabse db diff` also works for me again. Thank you.

[2022-08-18 12:44] risonsimon opened #383 "Error while running db migrations"
# Bug report

## Describe the bug

I'm running into the following error when I'm running `supabase db remote commit` or `supabase start` after running the first migration by running `supabase db remote commit`.

[code]

## To Reproduce

1. Create a new Supabase project
2. Install CLI, and link to the project
3. Inside Supabase dashboard, go to SQL editor and run _Stripe subscription starter_ templ

[2022-08-18 12:52] sweatybridge commented on #383
Hello @risonsimon , this is likely due to a new schema that is released to supabase platform. We will work on a fix soon.

[2022-08-18 12:55] rbkayz commented on #369
This was happening for me. All good on the JSON error. But now it's stuck here. Any help please?

PS C:\0xhashlabs\prod\hashmail-supabase> supabase db remote commit
Enter your database password:
⣾ Committing changes on remote database as a new migration...

░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░   0%

[2022-08-18 13:35] julianpoma opened #384 "Can't generate the types using the cli if I don't have a local instance running"
# Bug report

## Describe the bug

I can't generate typescript types with the cli, if I don't have a local supabase setup

When I run this command, i get the following output

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Run the command above without. having a local instance of supabase installed.

## Expected behavior

I want to gener

[2022-08-18 13:57] sweatybridge commented on #384
Hi @julianpoma , could you confirm that you have docker installed and accessible? The cli doesn't require supabase to be started, but it needs to run the Postgres meta container to generate types.

[2022-08-18 14:04] julianpoma commented on #384
Hey @sweatybridge, I don't have Docker installed because we don't use it. Also I have a M1 chip macbook and I am not 100% if it is even compatible.

Is it possible to make this command run without needing docker?

[2022-08-18 15:45] enyo opened #385 "Generate types for views as well"
When running `supabase gen types typescript` only types for tables are generated. This makes it difficult to select data from views.

[2022-08-18 15:59] Marviel commented on #384
My understanding is that most operations in the CLI require you to have docker installed. Your concern about the M1 macbooks is, as far as my personal experience goes, largely a thing of the past -- many developers use Docker + M1 these days, AFAIU.

[2022-08-18 16:28] enyo commented on #385
As a workaround this works well for now:

[code]

[2022-08-18 16:31] sweatybridge commented on #371
I've mirrored postgrest arm64 image to ECR. Let me know if it works :)

[2022-08-18 17:17] julianpoma commented on #384
I still believe that users should not be forced to install Docker just to get types. Types are an integral part of the new `supabase-js v2`.

At least we can improve the documentation regarding types, like providing a boilerplate of the database interface expected by the supabase client. By digging into the codebase, I came up with the following schema, hopefully someone finds it useful!

[code]

[2022-08-18 17:58] Marviel commented on #384
It would be awesome I agree, but the hard part is to generate types that
are consistent with the fully-migrated version of a database, you need to
run the migrations on that database.

On Thu, Aug 18, 2022, 1:17 PM neucoas ***@***.***> wrote:

[2022-08-18 18:50] pixtron commented on #380
I can reproduce the issue by following the steps @iolyd posted.

1. create new project on app.supabase.com
2. run Countries Quick Start SQL snippet
3. Run typegen -> Works
4. Add Extension "Postgis" (choose "Create new Schema postgis")
5. Run typegen -> Error

instead of using the cli i ran the typegen directly in `@supabase/postgres-meta`.

`PG_META_DB_URL='CONNECTION_STRING' node bin/src/server/

[2022-08-18 21:49] enyo opened #388 "typegen error on function overloading"
When I run `supabase gen types typescript` the types file that is generated is invalid. There are plenty of duplicate fields:

`Error: Duplicate identifier 'exception_unknown_field'.`
`Error: Duplicate identifier 'comment'. `
etc...

<img width="503" alt="image" src="https://user-images.githubusercontent.com/133277/185501281-9a68763c-2e59-486f-b4c1-1229b7b5c14a.png">

[2022-08-18 22:17] Marviel opened #389 "Update local postgrest container from `9.0.0.20220211` to `9.0.0.20220531`"
https://github.com/supabase/cli/blob/f71be9e378b44043e96b0283e221831e722fe7d9/internal/utils/misc.go#L36

When you hit swagger on Supabase hosted, you see the following output:

[code]

However, locally you see:

[code]

[2022-08-19 01:18] sweatybridge commented on #384
Turning this into an enhancement since it is working as intended for the current version.

[2022-08-19 01:20] #371 closed

[2022-08-19 02:01] sweatybridge commented on #327
Although not perfect, cli v1 does support type generation for tables. https://supabase.com/docs/reference/cli/usage#supabase-gen

If you encounter any issues with type gen, please don’t hesitate to open another issue. We will look into it asap.

[2022-08-19 02:01] #327 closed

[2022-08-19 02:03] sweatybridge commented on #174
Since the specific issue of downloading past cli versions has been addressed, I will close this ticket.

If you run into other problems, feel free to open another issue.

[2022-08-19 02:03] #174 closed

[2022-08-19 02:53] sweatybridge commented on #389
Hi @Marviel , I'm getting different versions for my hosted project.
[code]

and locally
[code]

The local version should be on the [latest release](https://hub.docker.com/r/postgrest/postgrest/tags), ie. `9.0.1.20220802`. Perhaps you can look into clearing local docker image cache?

The hosted postgREST version is currently on [v9.0.1.20220717](https://github.com/supabase/kps/blob/master/ansible/a

[2022-08-19 04:00] #338 closed

[2022-08-19 04:05] sweatybridge commented on #281
related #127

[2022-08-19 04:10] sweatybridge commented on #252
Feel free to open this ticket again if the problem persists.

[2022-08-19 04:10] #252 closed

[2022-08-19 04:17] sweatybridge commented on #190
could be related https://github.com/supabase/cli/issues/189

[2022-08-19 05:04] sweatybridge commented on #382
Thanks @Flambe for the feedback. I will check on this next week and give you an update.

[2022-08-19 18:43] jchekanoff commented on #371
Thanks, @sweatybridge! Works for me on latest (v1.0.8).

[2022-08-20 00:23] dalmo3 commented on #384
Needing docker for type gen feels overly complex when compared to v1 + openapi-typescript, and it isn't very clear what the gains are (the blog post mentions "a lot of detailed information").

[2022-08-20 04:11] ff6347 commented on #384
MHO: Since Docker is the main distribution channel for all the other tools bundled within the CLI I find it reasonable to also use docker for the type generation.

Starting to use different distribution systems (npm, cargo, brew...) could lead to a big mess in a few years

[2022-08-20 21:07] Soviut opened #438 "CLI should be able to generate types from linked project"
# Feature request

## Is your feature request related to a problem? Please describe.

In the new CLI (`1.0.8`) when using `supabase gen types typescript` there are two options for generating types from the database; `--local` and `--db-url`. Using the latter to get remote types requires providing the database URL which includes the database password. This makes it unsafe to put into a script in `p

[2022-08-21 19:28] vbylen commented on #190
Getting a similar `internal server error` here
<img width="616" alt="image" src="https://user-images.githubusercontent.com/57633368/185807671-2195f6eb-e411-4af0-ae30-4c56dd036852.png">

[2022-08-21 22:11] samwoolertonFosters opened #475 "`function auth.jwt() does not exist` for local RLS"
# Bug report

## Describe the bug

I defined RLS policies locally in the Supabase Studio UI, generated a migration file with `npm run db-diff <migration_name>`, and migrated in production with `supabase db push`.
After restarting the local DB with `supabase stop` and `supabase start`, it won't restart, instead throwing an error that `function auth.jwt() does not exist`. I can start the DB again by

[2022-08-22 16:06] kandros commented on #384
I have a couple of question regarding the new type generation just to wrap my head around the whole thing

Looking at the source code
- a container of [postgres-meta](https://github.com/supabase/postgres-meta/tree/master/src) is started locally
- a command is sent to the container to start a script (check [here](https://github.com/supabase/postgres-meta/blob/32da58fb3e18d21bd15ab423bb04a0267275d8e

[2022-08-22 16:50] Aleksion opened #401 "auth: unencrypted connection"
# Bug report
The latest version of the supabase/cli (1.1.1) seems to have a few bugs related to the auth images:

## Describe the bug
- `supabase db start` adds an `ip_address` to the `audit_log_entries` column but the  `supabase db reset` command removes it again. That will result in any auth actions failing
- any `inbucket` related commands in local development will result in this error:

[code]

[2022-08-22 19:47] iolyd commented on #380
Based on the error and the workaround identified by @pixtron, this issue seems to stem form the same contraint discussed here: #61

FWIW, here's the snippet we can prepend to the migration command the CLI outputs for things to work locally:
[code]

[2022-08-22 21:23] maxkostow opened #404 "Migration statements not running in order?"
# Bug report

## Describe the bug

Getting `42P01` (table does not exist)  when running migrations with `insert` statements

## To Reproduce

1. Use supabase CLI 1.1.1 (#396 seems related)
2. Create the migration file
[code]
3. Run
[code]
5. See error
[code]

## Expected behavior

The migration should run without issue as it did in `v0.38.4`

## Additional Information

If you move the `insert` to

[2022-08-22 22:36] maxkostow commented on #388
I'm seeing this on the `Functions` property which does not seem to account for overloading

[2022-08-22 23:08] vbylen opened #405 "Race condition in migration files"
# Bug report

## Describe the bug

After updating supabase-cli to [v1.0.10](https://github.com/supabase/cli/releases/tag/v1.0.10) an error appears on one of my migration files when performing the `supabase db reset` command:  `cannot insert multiple commands into a prepared statement (SQLSTATE 42601)`.

Interestingly when just running the `supabase stop` and `supabase start` the db reset works smo

[2022-08-22 23:11] vbylen commented on #405
I see this could be related to #404, my apologies for creating a new issue.

[2022-08-23 01:32] sweatybridge commented on #405
Hi @vbylen this should due to a byte slice bug that's fixed in v1.1.2 https://github.com/supabase/cli/releases/tag/v1.1.2

Feel free to open this issue again if upgrading doesn't work.

[2022-08-23 01:32] #405 closed

[2022-08-23 02:42] mclean25 opened #406 "Error Sending Magic Link"
# Bug report

## Describe the bug

When running Supabase locally via the CLI, I'm getting the following error when trying to sign in:

[code]

The user is being correctly created in the `auth.users` table, but nothing is showing up in Inbucket as the error would suggest.

I'm only getting this error running locally, hence why I posted this issue in this repository.

I know this is hard to decipher

[2022-08-23 03:16] mclean25 commented on #406
For the record, I've now run `docker system prune -a` a few times and re-started the CLI but still get the same issue.

[2022-08-23 04:06] #404 closed

[2022-08-23 04:10] sweatybridge commented on #404
Hi @maxkostow , thanks for the detailed report. We are able to narrow down the problem to pgx statement cache and implement a workaround.

Feel free to open this issue again if you still face the same problem in `v1.1.3`.

[2022-08-23 04:57] esteban-url commented on #406
maybe related:

I've been unable to invite users from the local supabase studio.

<img width="874" alt="image" src="https://user-images.githubusercontent.com/14810250/186070434-01767211-3edc-4fdc-a0d3-468765d83632.png">

I get a similar error when trying it from my API:

[code]

it logs this error:

[code]

## System information

* OS: macOS
* CLI version: 1.1.2
* Version of supabase-js: 1.35.4
*

[2022-08-23 06:55] #401 closed

[2022-08-23 06:55] #406 closed

[2022-08-23 07:02] soedirgo commented on #401
Sorry about this - should be fixed in 1.1.5 🙏

[2022-08-23 07:03] soedirgo commented on #406
Can you try this again in 1.1.5? Both the magic link and invite user error should be fixed now.

[2022-08-23 07:12] soedirgo commented on #190
Closing this as duplicate of #189.

@vbylen that one looks a bit different - can you see if upgrading to 1.1.5 fixes it?

[2022-08-23 07:12] #190 closed

[2022-08-23 07:24] soedirgo commented on #385
It's not feasible to generate types for views since view definitions are dynamic - e.g. we don't know the column information for a view, since columns are tied to tables, not views.

I'll see if I can extend supabase-js to allow you to add additional `Tables` in the near future.

[2022-08-23 07:50] vbylen commented on #190
@soedirgo it's fixed!

[2022-08-23 08:37] enyo commented on #385
Excellent @soedirgo . I think it's fine if they need to be added manually, but atm I don't think it's possible? I don't understand why extending the Database the way I did in my previous post didn't work.

[2022-08-23 19:57] sweatybridge commented on #369
@rbkayz sorry I was a little caught up with fixing other issues. Is this still happening with v1.1.5? We updated initial schema to be consistent with hosted Supabase.

If doesn't help, please open a new issue and tell us more about your schema to help us investigate further.

[2022-08-23 23:49] esteban-url commented on #406
confirmed. it works! thanks @soedirgo

[2022-08-24 00:07] rbkayz commented on #369
We're all good.

1.15 works great.

Q though - is there a way to set a flag on the diff so that it only checks specific schemas? Generally I only need to diff public, auth and storage

The others like graphql, extensions add way too much random noise to the diff

[2022-08-24 00:41] sweatybridge commented on #369
Hi @rbkayz , yes you can use `supabase db diff --use-migra --schema public,private`

[2022-08-24 02:43] soedirgo commented on #369
Note that you shouldn't diff `auth` and `storage` - these are internal schemas and are managed separately.

[2022-08-24 02:48] rbkayz commented on #369
Fair point. It's just that I have some RLS policies in storage. And some triggers in auth.users on insert

Which I need to diff in migrations so that it gets automatically pushed to my staging and prod projects

Would you recommend a better way please?

[2022-08-24 03:18] soedirgo commented on #369
Hmm, I think if you only keep the storage RLS policies and auth.users triggers, you should be fine 👍

[2022-08-24 06:21] xsmithdev opened #477 "Getting error "relation "pgsodium.key_key_id_seq" does not exist (SQLSTATE 42P01)" when using "db remote commit""
# Bug report

## Describe the bug

When using the latest CLI to init, start, link, and remote commit; supabase errors with a missing relation.

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. `supabase init`
2. `supabase start`
3. `supabase link --project ...`
4. `supabase db remote commit`
5. `supabase db reset`

[code]

## Expected beha

[2022-08-24 08:11] sweatybridge commented on #59
I'm inclined to follow unix philosophy of making one tool do one thing well. So not really in favour of exposing pgadmin even if we can.

If there's demand for a more advanced admin interface, we should also consider lightweight alternatives like adminer. Currently it seems that studio's UI and sql editor satisfy most common use cases.

Feel free to open a new discussion for alternate admin ui.

[2022-08-24 08:11] #59 closed

[2022-08-24 08:24] sweatybridge commented on #191
Hi @Mohsen7s , with the release of CLI v1, our recommendation here is to commit your extension config as migration files. For example,

[code]

When you push this migration to a hosted Supabase project, it also ensures that the extension is enabled on remote.

Feel free to open a new issue if this doesn't solve your need.

[2022-08-24 16:55] soedirgo commented on #385
I think I figured it out - can you do this instead?
[code]

I don't think it's necessary to modify supabase-js to support this after all.

[2022-08-24 19:32] profiluefter commented on #385
PostgREST successfully generates types for views in the OpenAPI endpoint (`http://localhost:54321/rest/v1/?apikey=`). Can't this be used?

I haven't looked at the code but would have expected that this OpenAPI definition would be used for generating the TypeScript types. Given that there's already the requirement that a supabase instance has to be running it should be problem to use the OpenAPI in

[2022-08-24 19:38] profiluefter opened #412 "Include database comments in generated types"
# Feature request

## Is your feature request related to a problem? Please describe.

My database schema has comments on every table an some columns. It would be nice if those comments could be included in the generated TypeScript types so that they will be displayed by the IDE.

## Describe the solution you'd like

The supabase-cli should include comments in the generated TypeScipt interface.

##

[2022-08-25 01:11] mrmattrc opened #413 "Generated types are incorrect for enum arrays"
# Bug report

## Describe the bug

When running `supabase gen types typescript`, enum array type definitions are incorrect. Rather than wrapping the possible values in an array and declaring that it is an array of those types, it puts the array on the last item in the type.

## To Reproduce

1. Create a table with a column specifying an enum array.
2. Run `supabase gen types typescript`.
3. Look a

[2022-08-25 06:34] soedirgo commented on #385
It doesn't seem to be perfect - e.g. if I create a view with a column `now() as now_col`, the OpenAPI description will say you can insert and supply the `now_col`, but it'll return an error if you actually do that. Also, it doesn't take into account table fields that must *not* be supplied, e.g. for [generated columns](https://www.postgresql.org/docs/12/ddl-generated-columns.html).

But the choice

[2022-08-25 07:31] sweatybridge commented on #127
We have published CLI v1.1.6 to [npm](https://www.npmjs.com/package/supabase) and have added CI workflows to keep it in sync with other package managers. You can install it as usual:

[code]

Note that the supported arch and platforms of the go binary still applies even if it's installed from npm.

Feel free to open new issues if you run into problems with the npm package.

[2022-08-25 07:33] #127 closed

[2022-08-25 07:39] soedirgo commented on #281
We've updated the npm package to install the Go version, so both installation instructions should result in the same CLI being installed.

[2022-08-25 07:39] #281 closed

[2022-08-25 07:47] sweatybridge commented on #281
Hi @darren-toha , I just realised we haven't updated the documentation for how to install from npm. So in case you want to try it out early, our recommendation is to install supabase **locally** to avoid path conflicts with system package managers. For example:

[code]

This also helps keep Supabase CLI versioned in your project's `package.json`.

[2022-08-25 15:24] mrmattrc commented on #413
@soedirgo, thanks for the quick fix! Just out of curiosity, how does `supabase/postgres-meta` affect `supabase/cli`? In other words, is there a rough ETA for when I can update the CLI to include this fix?

[2022-08-25 15:28] soedirgo commented on #413
We use postgres-meta to do the actual typegen - it's running in Docker through the CLI.

I'd say a few days - there are some changes I'd like to do at the same time. If it's urgent for you we can just do it now though, it's a pretty quick task.

[2022-08-25 20:11] NiklasPor commented on #382
I also just encountered a GQL issue which is only occurring on the CLI. Just linking for reference: https://github.com/supabase/pg_graphql/issues/206

[2022-08-26 04:24] mclean25 commented on #406
Confirming as well, thanks!

[2022-08-26 10:42] radim10 commented on #184
I agree. Much needed feature.

[2022-08-26 14:58] universse opened #416 "Error when installing on windows via pnpm"
# Bug report

## Describe the bug

preinstall script failed to run. Looks like `opts.url` is wrong. Should be [https://github.com/supabase/cli/releases/download/v1.1.6/supabase_1.1.6_windows_amd64.tar.gz](https://github.com/supabase/cli/releases/download/v1.1.6/supabase_1.1.6_windows_amd64.tar.gz) instead of [https://github.com/supabase/cli/releases/download/v1.1.6/supabase.exe_1.1.6_windows_amd64

[2022-08-26 15:10] #416 closed

[2022-08-26 15:13] sweatybridge commented on #416
Thanks for reporting. I've released a new version to fix the download path.

[2022-08-26 20:37] wieli99 opened #418 "Typescript generating results in docker error"
# Bug report

## Describe the bug

running `sudo supabase gen types typescript --db-url postgres://postgres:pass@db:port/postgres > src/components/database.types.ts` results in `Error: error running container`

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. install CLI from package
2. `supabase init` in project folder
3. `supabase start`
4. `sud

[2022-08-26 21:21] maxkostow opened #419 "ECR Rate Limit Error response from daemon: toomanyrequests: Rate exceeded"
# Bug report

## Describe the bug

Sometimes when running `supabase start` it will return the error `Error response from daemon: toomanyrequests: Rate exceeded
`

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Delete docker image cache
2. `supabase start`
3. Sometimes you will see the error

## Expected behavior

- There should be documentation

[2022-08-26 22:11] wieli99 commented on #418
To add: it works when I create a local copy of the database.

[2022-08-27 00:47] mrmattrc commented on #413
Thanks for the explanation. It's not an urgent issue. Thanks for being willing to prioritize it though! I look forward to getting the new update soon.

[2022-08-28 13:39] HankG opened #420 "Database Diff not picking up FK "ON DELETE" status change"
# Bug report

## Describe the bug

Through DataGrip I changed the "ON DELETE" configuration on a foreign key to go from "NO ACTION" to "CASCADE". When I run the `supabase db diff` command the default option it doesn't pick up that change. If I use the migra though it does.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go into a table with a fo

[2022-08-28 13:47] enyo commented on #385
I didn't get this to work. It's the same issue as with my attempt of extending the interface. When I use this type, all the type inference breaks. The data objects returned by the supabase calls are `any`.

[2022-08-28 20:22] erwinkn opened #421 "Recommended way of enabling PostgreSQL extensions for local development"
# Feature request

## Is your feature request related to a problem? Please describe.

Until recently, the undocumented but recommended way of enabling PostgreSQL extensions for local development was to create a `supabase/extensions.sql` file and define them there. (#263)

In release 0.38.3, this feature was removed from the `supabase start` command.
Here are the relevant lines, from release 0.38.2

[2022-08-29 02:01] mrmattrc opened #422 "Generate types for enums"
# Feature request
Currently, the typegen command inlines enum types for columns. It would be more helpful to generate "top-level" types for the enums. This would allow us to use the enum types elsewhere in our code. Additionally, the enum types could be used for the column definitions rather than repeating the same type multiple times (for Row, Insert, and Update on tables).

## Is your feature re

[2022-08-29 05:05] soedirgo commented on #421
Sorry this wasn't documented - I've now updated the release notes to include this change. You should now be able to do `CREATE EXTENSION` in migrations - appending the contents of `extensions.sql` to the first migration should do the trick.

[2022-08-29 12:15] kandros opened #425 "docker network not removed when supabase start is interrupted"
# Bug report

## Describe the bug

When

## To Reproduce

run `supabase start`
press ctrl + c before it finishes

created containers get's removed, docker network is not removed causing a conflict

## Expected behavior

created containers and network to be removed

## Additional context

the conflict does not make the command fail because the error is not handled (fixed in #424)

[2022-08-29 20:12] maxkostow commented on #419
The rate limit seems to be imposed by docker hub (https://docs.docker.com/docker-hub/download-rate-limit/). Can you explain the differences between docker.io hub and the aws ECR in #364 ?

[2022-08-30 07:10] #413 closed

[2022-08-30 07:10] #385 closed

[2022-08-30 07:11] soedirgo commented on #385
Needs support from the postgrest-js side for views - will loop back here once that's updated

[2022-08-30 14:30] mrmattrc commented on #413
@soedirgo, I updated the CLI to v1.3.0 and reran the typegen command, but I am experiencing the same behavior as before.
### Generated types (code removed for example)
![Supabase Typegen v1.3.0 Output](https://user-images.githubusercontent.com/19395720/187464151-77392bd4-1614-42e8-8d48-371ed9cd645f.png)

[2022-08-30 14:36] soedirgo commented on #413
Was this run with `--local`? You might need to `supabase stop && supabase start` for the change to take effect

[2022-08-30 14:49] mrmattrc commented on #413
@soedirgo, that worked! I was running locally, so I stopped and restarted supabase, reran the command, and it output it correctly. Thank you for the help!

[2022-08-30 18:22] jcoble opened #429 "Arm64 images not used for 4 of the services on Mac OS M1"
# Feature request
I'm on a MacBook Pro M1 and using cli version 1.3.  When I run supabase start it pulls the images, starts them, but 4 are still amd64.

supabase_storage
supabase_db
supabase_auth
supabase_realtime

Those are the amd versions still.  I'm noticing it pulls specific images and doesn't allow it to choose the correct architecture.  What can I do to get the correct arm64 images, becaus

[2022-08-30 18:38] sweatybridge commented on #419
Hi @maxkostow , thanks for detailed bug report.

Supporting `RegistryAuth` should be the right way to go as unauthenticated rate limit on ECR cannot be adjusted. While we are working on this fix and related docs, you may set the following env var on GitHub Action to use docker hub images instead.

[code]

Let me know if it works for you.

[2022-08-30 20:36] CharlesFJWilliamson commented on #419
I just got the same error as above, but the temporary fix worked for me @sweatybridge

[2022-08-30 21:28] riderx opened #431 "Cannot deploy functions in parallel"
# Bug report

## Describe the bug

i have a script who upload all my cloud function after CI pass and it take around 2 min.
So i tryed to parallelize them and i got issue
[code]

## To Reproduce

create a script who run mutiple function upload in parallel

## Expected behavior

should be ok

## Screenshots

If applicable, add screenshots to help explain your problem.

## System information

- OS:

[2022-08-31 07:48] soedirgo commented on #422
Does this kind of format work for you? Each enum belongs to a schema so they need to be namespaced.
[code]

[2022-08-31 08:53] #425 closed

[2022-09-01 07:28] #388 closed

[2022-09-01 07:28] #422 closed

[2022-09-01 08:10] psteinroe commented on #192
Any update here? This issue got a few upvotes and I am at 147 migration files now. Would be awesome if someone could provide a best practice.

[2022-09-01 12:21] soedirgo commented on #192
I have an idea on how this might be done, but it's not very well tested - better to try it first on a dev/testing project.

I'll draft up the guide and loop back here.

[2022-09-01 23:51] ZetiMente commented on #383
Hi @sweatybridge It's been two weeks now, is there a fix? There was a solution in the link you sent but I didn't understand the instructions there.

[2022-09-02 05:59] sweatybridge commented on #271
Hi @mr-bjerre , we are actively looking into exposing the logs explorer in studio. This will be solved together with [this feature request](https://github.com/supabase/supabase/issues/6674) for self-hosted supabase.

Meanwhile, if you want to tail the logs manually, they can be found inside the postgres container, timestamped by the hour.
[code]

[2022-09-02 06:05] sweatybridge commented on #271
I will merge this issue with https://github.com/supabase/cli/issues/52. Feel free to reopen it if you think there's something lacking from the suggestion there.

[2022-09-02 06:05] #271 closed

[2022-09-02 06:13] sweatybridge commented on #52
Hi @plmwd , the local postgres logs are stored inside the postgres container, timestamped by the hour.

[code]

We are actively looking into exposing logs explorer in local studio so that it's as easier view and filter Postgres logs. For other services like Kong, the currently supported way is to tail via docker logs.

[code]

[2022-09-02 08:16] madebyfabian opened #433 "Type Generator Generates wrong Enum Array Types"
# Bug report

## Describe the bug

I have a schema that uses an ENUM array. The typescript type generator returns the wrong type for it.

### Wrongly generated type:
[code]
As you can see it applies the array only on the last enum value.

## To Reproduce

Create a Posgres ENUM
Setup an example table, with a col that has a ENUM defined as array.
Setup CLI and generate Types.

## Expected behavior

[2022-09-02 08:19] soedirgo commented on #433
This seems like https://github.com/supabase/cli/issues/413. Can you update the CLI, restart the local dev server, and try it again?

[2022-09-02 08:20] #433 closed

[2022-09-02 18:07] bruceharrison1984 opened #435 "Trying to capture current DB schema fails with Docker error"
# Bug report

## Describe the bug

Pulling down the remote DB schema in to a new local project fails.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

- Initialize a new local project for an existing Supabase project
- Try to pull down the current DB schema via `supabase db remote commit`
- Command fails while pulling Docker image
  - `Error: Error

[2022-09-03 17:47] eidermaen opened #437 "supabase cb remote commit fails with pg_dump error"
# Bug report

## Bug description

I have a supabase project that is running in production. Now I want to setup supabase for local development so that I don't develop against the production data. Therefore I run:

[code]

Error:
[code]

## System information

- OS: macOS 12.14 (intel)
- supabase cli version: 1.4.0

[2022-09-05 08:30] soedirgo commented on #435
Sorry about this - this should be fixed very soon, but as a workaround you can do this for now: `SUPABASE_INTERNAL_IMAGE_REGISTRY=docker.io supabase start`

[2022-09-05 08:32] soedirgo commented on #437
Can you try recreating the pg_graphql extension via https://app.supabase.com/project/_/database/extensions?

[2022-09-05 10:59] eidermaen commented on #437
Seems to be working now as expected. Thank you!

Issue can be closed.

[2022-09-05 10:59] #437 closed

[2022-09-06 02:25] sicknarlo commented on #384
Thank you for this. The new types have been frustrating to even try to use (to say the absolute least) because this very basic information is nowhere to be found, and frankly getting the CLI to work just to generate types has been enough for me to consider stop using Supabase entirely.

[2022-09-06 02:45] bruceharrison1984 commented on #435
@soedirgo That got me moving again. I guess I should've cracked open the source to look for that one, it seems obvious now that you pointed it out.

[2022-09-06 02:45] #435 closed

[2022-09-06 03:07] bruceharrison1984 opened #440 "Pg13: Error running pg_dump on remote database: unrecognized option '--extension'"
# Bug report

## Describe the bug

Trying to initialize local migrations fails when running `supabase db remote commit`

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

- Initialize new local project
- run: `supabase db remote commit`
- Error message is displayed in console, no migrations are pulled down
  - `Error: Error running pg_dump on remote d

[2022-09-06 06:39] chitalian commented on #276
@sweatybridge I am running into the same issue - are there any logs that I can provide here?

I have the exact same setup except my supabase cli version is 1.4.1

[2022-09-06 07:00] soedirgo commented on #385
postgrest-js has been updated to support views.

[2022-09-06 09:51] enyo commented on #385
@soedirgo so does this mean that views are now included in the generated output, or that creating this union type now works?

[2022-09-06 09:55] soedirgo commented on #385
Views are now included in the generated types. I believe you need CLI v1.3.0+ and postgrest-js@2.0.0-rc.5+ for it (`npm update @supabase/postgrest-js` should do it).

[2022-09-06 10:16] #383 closed

[2022-09-06 10:20] sweatybridge commented on #383
Thanks @ZetiMente for following up on this. It took some effort to update the schema dump. Let me know if it works for you in v1.4.2 :)

[2022-09-06 10:35] sweatybridge commented on #429
Hi @jcoble , thanks for offering to help! This is mostly a backend issue with mirroring docker images to ECR which took us some time to get right. Barring `supabase_realtime`, the rest of images have been upgraded to use arm64 version in CLI v1.4.2.

I will keep you posted once realtime is mirrored too.

[2022-09-06 12:26] jcoble commented on #429
I upgraded the cli through brew, then started the containers.  It pulled all them from the registry ok, and 2 of the images are now arm64, then you mentioned supabase_realtime is not yet finished.  But the postgres_db image is still the amd version for some reason.
![image](https://user-images.githubusercontent.com/17329655/188631682-08716eb8-53bd-4c48-bceb-805eb9857113.png)

Here's the log:

The

[2022-09-06 17:35] LB22 opened #441 "CLI via NPM doesn't work"
https://github.com/supabase/cli/issues/127#issuecomment-1226884931
@sweatybridge I'm thinking this might interest you

Let the powershell terminal speak for itself
[code]

I have tried doing it using the global flag too. I have my PATH environment variables set up correctly too, so that's not the issue.
[code]

NPM version: 8.3.1
Node version: 17.4.0
Docker version: 20.10.17, build 100c701
OS: Win

[2022-09-07 00:30] Stuk commented on #287
I fixed by following https://github.com/supabase/cli/issues/128#issuecomment-1005337790

[2022-09-08 03:42] sweatybridge commented on #441
Hi @LB22 , this is an issue with https://github.com/supabase/cli/blob/main/package.json#L18 bin path not handling windows directory separator so the supabase binary isn't copied properly. I haven't found satisfactory solution to it yet but just want to let you know it is on our radar.

For now, the workaround is to invoke the command with `node_modules/supabase/bin/supabase -h` instead of npx.

[2022-09-08 10:47] sweatybridge commented on #441
Let's leave this open. I just looked into it a bit more and found a fix. :)

[2022-09-08 11:20] #441 closed

[2022-09-09 04:39] probablykasper opened #446 "Containers not restarted after Docker update"
# Bug report

## Describe the bug

Docker Desktop update seems to have caused supabase to bug out a bit. Running `supabase stop && supabase start` fixed it

## To Reproduce

iirc I ran `supabase stop` before updating Docker Desktop.

Afterwards I ran `supabase start`, and it said it was already running. I then ran `supabase status` and tried opening the URLs, and none of them worked (ERR_CONNECTIO

[2022-09-09 09:26] enyo commented on #385
Very cool. Just in case anybody else was looking for this: I needed to restart supabase locally for this to work. Simply upgrading the cli wasn't enough.

[2022-09-09 18:12] #421 closed

[2022-09-10 07:40] magicseth commented on #418
I am running in to this.

[2022-09-10 07:41] magicseth commented on #384
I'm running into
Error: error running container

I didn't have Docker before.
I'd tend to agree that installing Docker just for migrations seems like a big ask.

[2022-09-10 07:53] sweatybridge commented on #446
Do you have [live restore](https://docs.docker.com/config/containers/live-restore/) enabled in your docker daemon config? It should help with minor and patch upgrades of docker desktop.

I will close this issue as won't fix because the CLI should not affect system wide docker config.

[2022-09-10 08:00] probablykasper commented on #446
If I'm not mistaken, the live restore setting sounds like something that's just for when the upgrade is actually happening. I don't expect Supabase to be working while the actual upgrade is happening, if that's what it seemed like I was getting at

[2022-09-10 08:04] sweatybridge commented on #446
You are right. It seems to be a problem with using `unless-stopped` as the default restart policy https://docs.docker.com/config/containers/start-containers-automatically/#use-a-restart-policy

[2022-09-10 16:47] sweatybridge commented on #420
Hi @HankG , thank you for reporting this issue. In the long run, we think it's more maintainable to focus on a single schema diff tool and make it good. Currently we are leaning towards migra because of its speed. Hence, I just want to give you a heads up that we might not fix such issues with pgadmin any time soon.

That said, we have not reached a final decision and I would greatly appreciate to

[2022-09-12 06:40] tell-y commented on #384
I faced this issue (trap). Now I could generate types with starting docker + `$ supabase start`.

The generated type is really better than openapi-typescript one.
I hope this can be used without starting docker and the doc will be updated.

[2022-09-12 08:19] fairpoolio commented on #142
In my case, the error was because Docker ran out of disk space.

Solution: increase the Docker disk space.

[2022-09-12 08:20] #446 closed

[2022-09-12 08:44] #440 closed

[2022-09-12 18:41] wh1337 opened #450 "Allow file creation on type generation."
# Feature request

## Describe the solution you'd like
I would like to have an additional flag that will create the file of the types that were generated.

e.g. `supabase gen types ts  --db-url $DATABASE_URL --create-file src/types`

This would then create the `supabase.d.ts` in the `src/types` directory.

[2022-09-12 19:04] NatoNathan opened #451 "Add the ability to export values from `supabase start` to an `.env.local` file"
# Feature request

## Is your feature request related to a problem? Please describe.

So I'm working on a project where I'm using codespaces for an ephemeral development environment, but this could equally apply to gitpod as well.

One of the issues I'm coming up against is that when I make a new codespace/container, I need to manually create a new `.env.local` file with the anon and service_role

[2022-09-12 19:11] satyavh commented on #419
Tried out Supabase for the _very first time_, got stuck already with `supabase start` and this error --- not impressed so far, feels like a fragile framework

[2022-09-12 19:16] satyavh commented on #419
[code]

[code]

😐 I give up...

[2022-09-12 23:23] maxkostow commented on #451
Another benefit could be to compile your frontend in parallel with the docker image download / seed

[2022-09-13 06:21] soedirgo commented on #450
Any benefit of this over `supabase gen types typescript --db-url $DB_URL > src/types/supabase.d.ts`?

[2022-09-13 07:24] satyavh commented on #419
Talked to support, pulling the image directly `docker pull public.ecr.aws/t3w2s2c9/postgres:14.1.0.66` showed the correct error: Docker running out of disk space 😬  Would be great if the Supabase CLI would forward that info 🙏

[2022-09-13 08:34] NatoNathan commented on #451
I have attempted to have go at this myself, but only supporting `env` files here #452

[2022-09-13 13:07] ThomasMol opened #453 "Issue with generating migration scripts when auto diffing: no extension name"
# Bug report

## Describe the bug

When creating new migration using the auto schema diff command, the generated sql does include extension names for functions, or schema names when generating key constraints.
So for example this sql is generated:
[code]
And I then receive this error:
```ERROR: function uuid_generate_v4() does not exist (SQLSTATE 42883)```
When I reset the db.

Correct sql that do

[2022-09-13 17:28] #450 closed, assigned to nobody

[2022-09-13 17:31] JSmithOner opened #454 "use supabase cli in general CI pipelines"
# Feature request

Make supabase-cli usable on different CI pipelines ( I'm currently using circleCI ).

## Is your feature request related to a problem? Please describe.

CI job is stuck because supabase-cli waits for password.

## Describe the solution you'd like

pass password as option or set by setting an environment variable .

## Describe alternatives you've considered

firebase now uses se

[2022-09-13 17:50] sweatybridge commented on #454
Hi @JSmithOner , the currently supported env vars are

[code]

You may also refer to our [example GHA setup](https://github.com/supabase/supabase-action-example/blob/main/.github/workflows/staging.yaml) for porting over to CircleCI.

[2022-09-13 21:05] JSmithOner opened #456 "Deploy all functions at once"
# Feature request

## Is your feature request related to a problem? Please describe.

During for example a CI/CD workflow it seems difficult to deploy changes when new functions have been created/updated/deleted

## Describe the solution you'd like

based on a configuration file inside the functions directory ( with all options required per function ) it would be nice to deploy all of them at once

[2022-09-14 03:40] soedirgo commented on #456
Sounds good - I think we can make `supabase functions deploy` deploy all (modified) functions if called without a function name.

[2022-09-14 03:40] soedirgo commented on #431
Closing this in favor of #456

[2022-09-14 03:40] #431 closed

[2022-09-14 05:31] #453 closed

[2022-09-14 10:30] isaif opened #457 "Supabase login redirects to wrong url on ctrl clicking the link."
# Bug report

## Describe the bug
Running `supabase login` commands gives the following message
`You can generate an access token from https://app.supabase.com/account/tokens.`
When I control click the link I am redirected to "https://app.supabase.com/account/tokens." instead of "https://app.supabase.com/account/tokens". Notice the dot / period at the end of the first link.

## To Reproduce

Steps

[2022-09-14 10:32] soedirgo commented on #457
Yeah, I think we just need to remove the dot at the end. Would you like to create a PR for it?

[2022-09-14 11:25] isaif commented on #457
Yes sure. I checked the file which should be modified even before opening the issue.

I hope it is this one https://github.com/supabase/cli/blob/a493acde43512cb02d260fada2ae10e308f9493f/internal/login/login.go#L17

[2022-09-14 18:31] #457 closed

[2022-09-14 22:01] HankG commented on #420
Totally understand the desire to go down to one tool. The one thing I'm not thrilled with with Migra, and maybe it is a setting, is that it uses lower case for the SQL keywords and wraps table/field/etc name in a double quotes tag even if it doesn't need it. So some notional output of the two side-by-side,:

[code]

It's a minor enough thing that if it isn't configurable then it doesn't matter to

[2022-09-14 22:05] #420 closed

[2022-09-15 10:44] sdaoud commented on #180
Is there any update here? We'd like to be able to integrate with our SMS provider locally, to test the entire auth journey

[2022-09-15 10:59] riderx commented on #456
@soedirgo how deploy all will handle the option like jwt ?
and you closed the issue but i don't see it in the all option in the doc, does it done ?

[2022-09-15 11:19] JSmithOner commented on #456
@riderx when creating new function you could pass those parameters which would be written in a config file and be updated on each single deploy of course you could also edit the config file. Just an idea.

[2022-09-15 11:38] riderx commented on #456
Thanks,  do we have a way to create this file for already existing functions?

[2022-09-15 11:39] isaif commented on #278
I renamed `.env` to `.env.local` in supabase directory and ran `supabase start`. It works without sourcing env file explicitly.

[2022-09-15 11:40] soedirgo commented on #456
We probably want to do https://github.com/supabase/cli/issues/280 first so that `supabase functions deploy` determine whether or not to verify JWT for each function.

[2022-09-15 11:45] soedirgo commented on #278
Thanks all, seems like this issue is the same as https://github.com/supabase/cli/issues/210#issuecomment-1201213636, which should be fixed by now.

[2022-09-15 11:45] #278 closed

[2022-09-15 11:48] soedirgo commented on #456
Can you clarify what you mean by the env file? What does it get used for? I was thinking of adding the config in the existing `supabase/config.toml`, as per #280.

[2022-09-15 11:55] JSmithOner commented on #456
@soedirgo I cannot really advice where to put it but when I'm talking about `--env-file` flag you can pass when you serve the function, it could be nice to set the path in a config file this would commands like `supabase secrets set --env-file .env` to `supabase secrets set` ( again just an idea) also and this another subject I wasn't able to serve multiple functions at once I guess we could renam

[2022-09-15 12:03] soedirgo opened #459 "Support serving multiple functions at once"
# Feature request

## Is your feature request related to a problem? Please describe.

Right now it's not possible to serve multiple functions at once.

## Describe the solution you'd like

Support `supabase functions serve` (with no function name arg) which serves all functions in `supabase/functions`.

## Describe alternatives you've considered

None

## Additional context

Asked in https://githu

[2022-09-15 12:06] soedirgo commented on #456
Gotcha - tracking this on https://github.com/supabase/cli/issues/459. There's no need to add a `env-file` config since `supabase functions serve` already has it as a flag.

[2022-09-15 18:44] bruceharrison1984 opened #460 "extension "pg_graphql" does not exist"
# Bug report

## Describe the bug

Trying to run `supabase start` after `supabase db remote commit` fails with the following:
[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Have existing Supabase project deployed
2. `supabase db remote commit`
3. Check that migrations were created
4. `supabase start`
5. View error message

## Expected be

[2022-09-16 02:11] magicseth commented on #418
I'm really stuck here. Any thoughts on how to help provide a more useful error message so I can help find the root cause? I don't know how to create a local copy of the databse.  I've not used docker before, but I tried to create a supabase database commit, but ended up in a funky state and am terrified of overwriting my remote schema, which is the current correct schema.

[2022-09-16 05:34] RyanTippsTX commented on #327
@sweatybridge does this only work if self-hosting Supabase?

[2022-09-16 05:42] sweatybridge commented on #327
Hi @RyanTippsTX , the CLI supports typegen for Supabase hosted project.

[code]

You can obtain the url from your project dashboard -> database tab.

[2022-09-16 05:49] RyanTippsTX commented on #327
can i do this without a toml file & linking?

[2022-09-16 05:53] sweatybridge commented on #327
Currently you can do this without linking but `supabase init` is required to create the toml file. It also starts a docker container for generating types.

[2022-09-16 06:01] RyanTippsTX commented on #327
Thank you

[2022-09-16 11:13] soedirgo commented on #460
Our Postgres 13 Docker image is horribly outdated, the latest one was from July 2021. There hasn't been much work on releasing an updated Postgres 13 image sadly

[2022-09-16 12:21] bruceharrison1984 commented on #460
Would I be better served just manually migrating to a new pg14 Supabase project rather than waiting for pg13 fixes? That was actually my end goal when I downloaded the CLI.

[2022-09-17 10:21] bennik88 commented on #327
I don't understand how to generate the typescript types by reading the documentation. I've come so far by watching your new Supabase Launch Week videos. But they also script the part on how to do it with `--db-url`.
I'm having the CLI installed and I've uses `supabase login` so I'm now logged in. But when trying `supabase gen types typescript --db-url https://myurl.supabase.co` it says `Error: Mis

[2022-09-18 21:33] ZetiMente opened #466 "Getting error "relation "pgsodium.key_key_id_seq" does not exist (SQLSTATE 42P01)" when using "db remote commit""
# Bug report
https://github.com/supabase/cli/issues/477

This issue was posted on the Supabase main repo two weeks ago but it didn't get any attention from Supabase. This issue is a big blocker for me. Tried from @ARMATAV advice to do:

"Create a new .sql file over at supabase/extensions.sql and put in whichever extension is failing you CREATE EXTENSION pgsodium SCHEMA extensions; in this case
Gre

[2022-09-19 15:40] binjamil opened #467 "Wrong type generated for timestamptz postgres type"
# Bug report

## Describe the bug
I have a column updatedAt of type timestamptz in a Postgres table. When I generate type definitions for it using `supabase gen types typescript --local` command, the typescript type that gets generated is `string | null` when it should be `Date | null`. In short, I expect Supabase CLI to generate Date type for all Date/Time postgres types in the database.

## To R

[2022-09-19 19:48] bruceharrison1984 opened #468 "Make JWT signing secret readily available"
# Feature request

Within a NextJS app, I have some API endpoints where I manually validate the JWT to avoid a round-trip. This breaks when using `supabase start` because I don't know what the signing token is.

## Describe the solution you'd like

Make the signing token static or available within the UI (or ideally, both). You could also make it configurable via the `toml` file as well I suppose.

[2022-09-19 21:29] bruceharrison1984 commented on #468
I found the signing token within the docker image `GOTRUE_JWT_SECRET=super-secret-jwt-token-with-at-least-32-characters-long`.

I still think it'd be nice if this was surfaced somewhere more accessible than within an ENV_VAR inside of the auth docker container.

[2022-09-20 05:32] soedirgo commented on #468
Is it sufficient to output this when running the `supabase start` command?

[2022-09-20 05:35] soedirgo commented on #467
This is expected - timestamptz etc. are returned as `string` from the REST server. There's some discussion why we keep it that way here: https://github.com/supabase/postgrest-js/issues/201

[2022-09-20 05:47] sweatybridge commented on #467
Have we thought about automatic de/serialisation of Date types in supabase-js? It would be nice to handle this conversion in client library since Date fields are so common.

[2022-09-20 06:45] soedirgo commented on #467
You can comment on the linked thread. I don't think we'll be doing this unless there's a proposal on how to deal with the issues mentioned there.

[2022-09-20 07:03] bruceharrison1984 commented on #468
Yeah, I think that could work as well.

[2022-09-20 12:34] songololo commented on #406
I am encountering a similar issue: no email response with signup links or OTP codes arrive in my inbox...

Is there something I have to do to enable the dummy SMTP server to work?

I can see that the login requests is received by the `supabase_auth_interface` but then nothing happens in terms of receiving email.

Using `supabase` installed via `brew` - version `1.4.6`.

[2022-09-20 13:26] soedirgo commented on #406
Hey @songololo, are you checking the inbox from the [email testing web interface](https://supabase.com/docs/reference/cli/config#local)?

[2022-09-20 14:21] songololo commented on #406
@soedirgo thanks, I missed that.

[2022-09-20 21:13] daver182 commented on #460
Sorry for reopening, but I'm having the same problem. Does anyone know how to migrate to PG14?
Can I use an older version of the cli to fix this? I'm using pg13 in production, and I don't want to migrate.

Thanks

[2022-09-21 03:34] #467 closed

[2022-09-21 08:23] enyo commented on #385
@soedirgo at the moment, all fields in views are `type | null`. Is there anything we can do to avoid all fields being nullable?

[2022-09-21 08:29] soedirgo commented on #385
I don't think so - this is a limitation on the Postgres side, it doesn't store column nullability accurately for views. I believe you get the same thing from PostgREST's OpenAPI.

[2022-09-21 10:24] soedirgo commented on #460
You can find the migration instruction here: https://supabase.com/docs/guides/database#migrating-between-projects

Older CLI versions would use the same if not older versions of the image, so that probably wouldn't help. I just discovered though that this error pops up even if you don't do `supabase db remote commit` - that can be fixed, so reopening this issue.

[2022-09-21 10:26] soedirgo commented on #467
Just an update, we're considering automatic conversion to `Date` for supabase-js v3, though there's no timeline for this yet.

[2022-09-21 14:54] Flambe commented on #382
Did you manage to check this @sweatybridge?

[2022-09-21 15:20] sweatybridge commented on #382
Hi @Flambe , thanks for reminding. We have manually updated postgres image to 14.1.0.66. Could you help verify if there's any missing graphql features in CLI v1.4.7?

Syncing the schema automatically is taking a bit longer because it needs to touch migration scripts in 3 different repos. But good news is our teams have agreed to work on it after next week.

[2022-09-21 15:31] Flambe commented on #382
Hi @sweatybridge, thanks for the quick update!

I've updated my CLI and restarted my supabase locally & checking `select * from pg_extension;` does show pg_graphql to have a version of `v0.4.0` which is what I'm looking for. But the actual functionality I'm looking to use (`in` queries) does not seem to be present and I appear to be getting an old error (due to a spelling issue which is no longer

[2022-09-21 17:32] olirice commented on #382
@Flambe I wasn't able to reproduce the issue with the latest version of the CLI (1.4.7)

could you please triple check you're on 1.4.7 and try the following test case?

Table setup
[code]

Query
[code]

Expected result
[code]

---
@NiklasPor I left a similar note on your issue https://github.com/supabase/pg_graphql/issues/206 when you get a sec. thanks!

[2022-09-21 18:32] profiluefter commented on #385
It's possible to manually set the nullability for views to make the generated types work. This, however, doesn't check if what you're doing is actually correct so make sure that the columns you are setting to `not null` are actually definitely not null.

I don't know if there are other implications of changing these values so make sure you understand it better than I do before using this in an imp

[2022-09-22 06:20] soedirgo commented on #385
@profiluefter Thanks! We actually implicitly assume view columns are nullable in the typegen, so that needs to be updated as well.

[2022-09-22 09:15] Flambe commented on #382
@olirice You're correct it is working fine on 1.4.7.

My issue was that I did a small hack in the my migrations to implement `like` filters in GQL, but this replaced the `graphql.text_to_comparison_op` function with an older one which caused this issue. Updating this gives the expected result for `in` queries.

Sorry for the confusion, I should have double checked my existing code first!

[2022-09-22 09:48] RyanTippsTX commented on #327
@bennik88 try using
`postgres://postgres:your-password@db.your-project-string.supabase.co:6543/postgres`
(note the lack of "sql" at the beginning, and the different port number at the end)

Overall, for @bennik88 or for anyone else, i was able to generate types doing the following:

from your terminal:
`brew install supabase/tap/supabase`
then cd into your project directory
`supabase login`
`supab

[2022-09-22 13:40] #382 closed

[2022-09-23 04:10] zakaria-chahboun commented on #265
+1

[2022-09-23 06:33] zakaria-chahboun commented on #265
Yes. You can! Just follow these instructions:

Install `podman` `podman-docker` and `docker-compose`

*i'm using linux pop_os*

[code]

Now. You have to clone the supabase repo:
[code]

Then:
[code]

Now you have to configure Docker Hub mirror in /etc/containers/registries.conf:

[code]

Add these lines to the end of file:
[code]

Now. You are ready to install supabase studio:
[code]

Finally. vis

[2022-09-23 06:46] #468 closed

[2022-09-23 07:09] zakaria-chahboun commented on #265
Yes. You can!
https://dev.to/zakariachahboun/supabase-self-hosting-with-podman-1mhl

[2022-09-23 07:30] probablykasper commented on #265
That's great, though personally not looking to self host, just running Supabase for local development

[2022-09-23 10:20] cohlar commented on #278
Hi, I use windows and `source` isn't available in the cmd / powershell.
The workaround I found is to use [env-cmd](https://www.npmjs.com/package/env-cmd) - sharing in case someone encounters the same issue. Also happy to hear if there is any better solution.

[2022-09-23 20:19] FelixZY opened #470 "Large SQL files skipped without error on `supabase db reset`"
# Bug report

## Describe the bug

My database should contain geographical data for Sweden. This data is inserted using 327 `INSERT` statements and the SQL file takes up ~4MB. When I attempt to run this file (using `supabase db reset`) as part of either my migrations (`supabase/migrations/*.sql`) or my initial seed (`supabase/seed.sql`)  some data is skipped over and the reset operation is reporte

[2022-09-23 23:14] zakaria-chahboun commented on #265
The local development consume a lot of resources! I don't know why but it seems like there is an issue with the "authentication" part
The issue executed in a loop ..

Don't forget to tell us your experience with it!

[2022-09-24 11:24] FelixZY commented on #470
Debugging this right now. First find of significance:

`parser.Split(sql)` returns 210 results here (4 create/etc. + 327 inserts expected):

https://github.com/supabase/cli/blob/5dd3234bcaebb8dee3e04efeed52985dd48996b5/internal/db/diff/migra.go#L131

[2022-09-24 11:31] FelixZY commented on #470
And the issue appears to be that `scanner.Err()` is not checked here:

https://github.com/supabase/cli/blob/5dd3234bcaebb8dee3e04efeed52985dd48996b5/internal/utils/parser/token.go#L70-L79

By adding a print to the end:

[code]

I get the following output:

[code]

[2022-09-24 11:35] FelixZY commented on #470
Following up from documentation:

https://pkg.go.dev/bufio#Scanner

[2022-09-24 13:06] #470 closed

[2022-09-24 13:09] barrelltech commented on #437
I had the same issue. Got the error when passing in `--debug` however the normal error I received was:

[code]

I tried turning off and on the graphql extension via your link. I still received the same error. I turned off the graphql extension, ran it again, and it worked. I turned the extension on afterwards.

1. Is there another way to 'recreate' the extension that I'm missing (besides turning i

[2022-09-24 19:03] StefanBRas commented on #419
For anyone else experiencing this, running the command three times in a row worked for me (local setup on Ubuntu 22.04).

[2022-09-26 05:24] chrisb2244 opened #474 "gen types typescript changes table ordering on unrelated changes"
# Feature request
I'd like the output of `supabase gen types typescript --db-url blah > my_database_types.ts` to produce a file that doesn't have lots of changes due to reordering of the tables.

## Is your feature request related to a problem? Please describe.
I made some changes via the web GUI/dashboard, and then wanted to regenerate my types.
However, the changes (as shown by, e.g. `git diff`)

[2022-09-26 07:38] sweatybridge commented on #475
Hi @samwoolertonFosters , this is likely due to an issue with outdated initial schema which we have [since fixed](https://github.com/supabase/cli/blame/7fa946098247b5afa08c9229cb584b25fd838ec5/internal/utils/templates/initial_schemas/14.sql#L268). Could you upgrade CLI and try again to see if it works?

Closing for now as I am not able to reproduce with `select auth.jwt();`. Feel free to reopen if

[2022-09-26 07:38] #475 closed

[2022-09-26 16:30] sweatybridge commented on #246
For future reference, we no longer support `supabase/extensions.sql` since CLI v1. We have fixed postgres permissions such that `create extension` statements should work in migration scripts.

[2022-09-26 16:37] sweatybridge commented on #477
Hello @ARMATAV , `supabase/extensions.sql` is a file that we no longer support in CLI v1 and I suspect it was working for you by accident...

Could you and @ZetiMente help me check that your remote projects have pgsodium enabled under the `pgsodium` schema?
![Screenshot 2022-09-27 at 12 31 34 AM](https://user-images.githubusercontent.com/1639722/192331827-97292fdd-639f-49c9-a3de-029eb38f2b0d.png)

[2022-09-26 16:38] #466 closed

[2022-09-26 19:46] probablykasper opened #479 "`db remote changes` wants to rename a column to every other column"
# Bug report

## Describe the bug

It seems like my remote db is out of sync with the migrations, though I'm not sure why. When running `supabase db remote changes`, I get this massive output:

<details>
<summary>Details</summary>

[code]

</details>

I figured there was some column that was missing a `NOT NULL` or something, but this is quite different.

It starts with these ones where it runs `R

[2022-09-26 21:49] FostersData commented on #475
Working perfectly now thanks

[2022-09-27 04:38] sweatybridge commented on #479
Thanks for informing us of this issue. I will look into adding migra support for remote diff to handle this case.

[2022-09-27 05:27] soedirgo commented on #478
Permission issues on auth tables on pg_dump should be fixed now.

[2022-09-27 05:27] #478 closed

[2022-09-27 22:32] ryanalta opened #480 "Support db-url flag for db reset"
# Bug report

## Describe the bug

The database connection string for the command `supabase db reset` appears to include a hardcoded 'localhost' for the hostname, and I am not finding anywhere I can override this.

I'm not really great at go or familiar with the project but searching the codebase for 'localhost' seems to reveal hardcoded connection strings with no environment variable option in a

[2022-09-28 07:48] soedirgo commented on #481
This should be fixed as of https://github.com/supabase/cli/pull/323 - we've since stopped doing typechecks on remote modules (which caused this issue).

[2022-09-28 07:48] #481 closed

[2022-09-28 18:43] yowzadave opened #482 "Adding plv8 extension via supabase UI causes error to throw when CLI stops/restarts"
# Bug report

I added the plv8 extension via the user interface at `localhost:54323`, and then added a migration that uses a plv8 function. When I stop and then re-start the database (thus running all of the migrations), an error is thrown:

[code]

Shouldn't enabling an extension persist even when stopping/starting CLI container?

Is it possible to configure so that plv8 will be enabled on start?

[2022-09-28 23:19] Yonatan-T opened #483 "`supabase init`: replace invalid chars in generated `project_id` with `_`"
# Bug report

## Error on '`supabase start`'

trying to follow the instuctions on local devlopment as writtenin the docs
https://supabase.com/docs/guides/functions#developing-locally

when running `supabase start` its pulls several images then i get a error:
`Error: Error response from daemon: Invalid container name (supabase_db_functions demo), only [a-zA-Z0-9][a-zA-Z0-9_.-] are allowed
`

and wh

[2022-09-29 04:13] soedirgo commented on #482
I believe you need to either do a `supabase db diff` to generate a new migration that includes creating the new extension, or include the `CREATE EXTENSION` manually in your migration. An extension is just part of your schema in this case.

[2022-09-29 05:59] soedirgo commented on #483
Sorry about that - can set `project_id` in `supabase/config.toml` to e.g. `functions_demo`?

[2022-09-29 07:09] soedirgo commented on #234
Closing this as we decided to fix the [underlying issue](https://github.com/supabase/cli/issues/253) instead. `supabase start && supabase stop` is expected to properly tear down existing containers.

[2022-09-29 07:18] Yonatan-T commented on #483
indeed , i updated the `project_id` in `supabase/config.toml` to the project id ( it was initialy set to the directory name)
now everything is working properly

Thank you.

[2022-09-29 07:28] soedirgo commented on #41
Closing this in favor of the linked issue. The `supabase/postgres` image is the only one left missing a linux/arm64 build - the GitHub-hosted runner isn't enough to build these. Once we start having the linux/arm64 build (with self-hosted runners) it should be available with no change on the CLI side.

[2022-09-29 07:28] #41 closed

[2022-09-29 07:32] soedirgo commented on #483
Sorry, I'm repurposing this issue to fix the generated `project_id` if you don't mind! Feel free to unsubscribe.

[2022-09-29 10:22] soedirgo commented on #61
This is now supported.

[2022-09-29 10:22] #61 closed

[2022-09-29 10:23] soedirgo commented on #96
This is now supported.

[2022-09-29 10:23] #96 closed

[2022-09-29 10:23] soedirgo commented on #120
This is now supported.

[2022-09-29 10:23] #120 closed

[2022-09-29 10:25] #287 closed

[2022-09-29 10:26] #67 closed

[2022-09-29 10:31] soedirgo commented on #121
Closing this for staleness - there's been a lot of change since this issue was raised, so if anyone's still bumping into this, please create a new issue.

[2022-09-29 10:31] #121 closed

[2022-09-29 11:34] psteinroe commented on #286
@egor-romanov could we reopen this? I am suddenly experiencing this in a GitHub Action. Nothing changes, just from one action run to the other it started to always throw this error...

[2022-09-29 11:48] aslakhellesoy commented on #286
I'm seeing the same thing

[2022-09-29 12:17] psteinroe commented on #286
I have opened an urgent ticket with the supabase support since this is blocking us from running any ci.

[2022-09-29 12:25] sweatybridge commented on #286
Hello, are you able to pin the CLI version on GHA to a previously working one for the time being? Possibly 1.4.7

You can refer to a working example here https://github.com/supabase/setup-cli

We will look into the issue soon to fix it in the next release.

[2022-09-29 12:45] aslakhellesoy commented on #286
Using a previously working version doesn't seem to work.
When this started failing I was on 1.4.2. I upgraded to 1.5.0 and have the same error.

[2022-09-29 12:50] psteinroe commented on #286
Same here! Same problem occurs after downgrading. Also, it worked before on 1.5.0, I did not upgrade or change anything. It suddenly stopped working.

[2022-09-29 12:51] egor-romanov commented on #286
Thank you for reporting this. I was trying to reproduce it, but no luck.

Can you confirm that this problem only occurs on CI runners?

[2022-09-29 12:52] aslakhellesoy commented on #286
Only on GitHub Actions for me. Works fine locally.

[2022-09-29 13:01] psteinroe commented on #286
Same here. I removed my docker image cache locally, but it downloads the images and launches the containers as expected.

GH runner versions are also exactly the same...
[code]

[2022-09-29 13:06] aslakhellesoy commented on #286
I've created https://github.com/supabase/setup-cli/pull/59 which I hope will reproduce the problem. Can someone from supabase please approve running the workflows on this PR?

[2022-09-29 13:43] mclean25 opened #485 "Utility command for running pg_dump from postgres container"
# Feature request

I frequently have issues with having version mismatches between my local version of postgres and the version of postgres on the database I'm trying to run `pg_dump` from. It would be cool if there was a utility CLI command that could run `pg_dump` from the Supabase service itself. Something like `supabase database dump`, maybe with some options for pointing to different database

[2022-09-29 17:42] sweatybridge commented on #286
We found the root cause: the [supabase/postgres](https://hub.docker.com/r/supabase/postgres/tags) image that the CLI depends on was updated 10h ago with an arm64 build. Unfortunately the multi-arch manifest was not updated correctly, resulting in arm64 images being pulled on x86 machines. This broke GHA and anyone trying to `supabase start` on a fresh x86 computer without any locally cached docker

[2022-09-29 21:02] aslakhellesoy commented on #286
It sounds like `supabase-cli` doesn't pin the versions of the docker images it fires up. If an update to `supabase/postgres` can break existing installations this way, does this mean the `:latest` docker image is downloaded rather than a specific version?

How can we have [reproducible builds](https://en.wikipedia.org/wiki/Reproducible_builds) if this is the case?

Have you considered pinning the

[2022-09-29 21:08] aslakhellesoy commented on #286
I see on [supabase/postgres](https://hub.docker.com/r/supabase/postgres/tags) that [14.1.0.71](https://hub.docker.com/layers/supabase/postgres/14.1.0.71/images/sha256-90119a062b2072d2a5c0b297059cec8c0bc90df76c22c6f9c455320a465a504d?context=explore) was pushed, but `latest` is still pointing to an older version ([14.1.0.61](https://hub.docker.com/layers/supabase/postgres/14.1.0.61/images/sha256-33d

[2022-09-29 22:12] grschafer opened #489 "Configurable storage FILE_SIZE_LIMIT"
# Feature request

## Is your feature request related to a problem? Please describe.

I have customized the `FILE_SIZE_LIMIT` on my production supabase app, and it would be helpful to use the same `FILE_SIZE_LIMIT` value in my local development environment so that local testing matches the behavior of production.

## Describe the solution you'd like

I'd like the `config.toml` to include a new `st

[2022-09-29 23:03] point-source opened #490 "Cannot run edge function due to outdated deno runtime"
# Bug report

## Describe the bug
I wrote a supabase edge function a few weeks ago and successfully deployed it. Yesterday I went to edit it and realized I could not run it locally as I used to.

It appears that as deno continues to update their std library, functions will automatically use newer and newer versions of this library. In this case, my function's dependencies are now using std 0.153.0

[2022-09-29 23:06] darora commented on #286
Hey folks-sorry about that; this was an unintended side-effect of my work on getting arm64 images out. I made the mistaken assumption that the repo was immutable (something we do by default), but it looks like public ECR repos don't support immutability. To close out this thread:

- I'm re-uploading the x86 image, and it should fix fresh pulls once that completes (in an hour or so)
- we'll fix the

[2022-09-30 00:13] alemontesdev commented on #120
@soedirgo I was just noticing that my auth triggers are not included in the migrations between my remote and local databases, just arrived here but still couldn't make it work, am I doing something wrong? thanks in advance!

[2022-09-30 00:37] #151 closed

[2022-09-30 00:48] sweatybridge commented on #286
We have released CLI v1.5.1 which uses postgres 14.1.0.71 and I have verified `supabase start` is [working on GHA](https://github.com/supabase/cli/actions/runs/3155524593/jobs/5134279598).

We will update 14.1.0.66 image later to fix older CLI versions.

[2022-09-30 04:09] soedirgo commented on #120
Hey @alemontesdev, I think this is just a limitation of the generated migrations - there's no easy way to include auth.users triggers without also including schema changes on the auth.users table itself (which is a no-no, these are managed internally).

But you should be able to include the triggers in your migration, and `supabase db push` should work.

[2022-09-30 04:36] soedirgo commented on #490
Thanks for reporting this @point-source, we pinned the Deno version a while ago because of an issue with [`deno bundle`](https://github.com/supabase/supabase/issues/7878). But since this is starting to be a blocker for some, we'll see if the latest version resolves this issue.

[2022-09-30 04:40] soedirgo commented on #489
Yes, this is very much welcome, thanks! Maybe with `file_size_limit_bytes` instead of `file_size_limit`.

[2022-09-30 04:57] point-source commented on #490
Of course! That said, many other cloud function providers allow the dev to either specify the runtime version or provide a list of acceptable versions. I feel like this would probably be important to ensure that deployed functions do not suddenly break if the supabase backend is updated. Or is a deployed function always run with the same deno version it was deployed with?

[2022-09-30 05:00] soedirgo commented on #490
It's always run with the latest stable Deno version - this is the behavior of [Deno Deploy](https://deno.com/deploy), which we use under the hood.

[2022-09-30 07:47] sweatybridge commented on #429
Happy to share that we have now released all arm64 images, including realtime and postgres! You should be able to get those images after upgrading to v1.5.2.

I agree having these features in local studio would really improve the local dev experience. We have created tickets for each of them, with logs probably being the most requested. Our end goal to achieve as much feature parity as possible wi

[2022-09-30 07:47] #429 closed

[2022-09-30 08:03] soedirgo commented on #429
Note: you might need to run `docker image rm public.ecr.aws/t3w2s2c9/postgres:14.1.0.71 public.ecr.aws/t3w2s2c9/realtime:v0.22.7` if you've used a previous version of the CLI for the linux/arm64 image to be used.

[2022-09-30 08:04] soedirgo commented on #41
Resolved as per https://github.com/supabase/cli/issues/429#issuecomment-1263228324!

[2022-09-30 09:12] aslakhellesoy commented on #286
Thanks a lot for the quick turnaround to fix this. I'm no longer getting the previous error, but I am now getting another one. Here is my GitHub Action config:

[code]

I'm getting this error:

[code]

If I remove the `SUPABASE_INTERNAL_IMAGE_REGISTRY` environment variable I get a similar error:

[code]

Any idea why `kong:2.8.1` is not found? I can see it here: https://hub.docker.com/_/kong

[2022-09-30 09:21] Dizotoff commented on #192
I think one way to do it would be to

1. Delete `supabase_migrations.schema_migrations` table content
2. Remove all migration scripts from `/migrations/` folder
3. Run `supabase db remote commit`

Not sure how safe that is.

[2022-09-30 09:27] soedirgo commented on #192
@Dizotoff that's roughly it, yeah. Sorry I'm a bit behind here - might get back to this in a few weeks.

[2022-09-30 09:27] Dizotoff opened #491 "Add possibility to specify the minor version of PostgreSQL in /supabase/config.toml"
# Feature request

Add possibility to specify the minor version of PostgreSQL

## Is your feature request related to a problem? Please describe.

My remote PostgreSQL version is 14.1, while the local is 14.3. Some of the ddl files I successfully apply locally don't work in remote.

## A clear and concise description of what you want and what your use case is.

I want to be able to set any version

[2022-09-30 09:44] aslakhellesoy commented on #286
It looks to me like `supabase 1.5.2` isn't pulling all the images it needs. My workaround for now is to explicitly pull all the images before `supabase start`:

[code]

[2022-09-30 10:11] DanielGiljam opened #493 "`supabase start` doesn't pull images if they don't exist"
# Bug report

## Describe the bug

After upgrading the CLI and running `supabase start`, the command fails with an error saying "no such image".

This is the exact error message:

[code]

I tried with a clean project as well (delete `supabase/` directory, run `supabase init`). Same error.

I started manually pulling the images one by one, re-running `supabase-start`, getting a new error message fo

[2022-09-30 10:14] sweatybridge commented on #286
Sorry I accidentally renamed a bunch of images in #488. Should be fixed in 1.5.3

[2022-09-30 10:15] sweatybridge commented on #493
It's a bad release on my part. Should be fixed in 1.5.3

[2022-09-30 10:16] DanielGiljam commented on #493
Ok! Thanks for the quick response!

[2022-09-30 10:18] soedirgo commented on #491
Hmm this might be difficult - we were able to get by with major versions because there's only 2 supported right now (13 & 14), but adding minor versions to the matrix makes this untenable. We also don't necessarily have an image for each minor version.

[2022-09-30 10:31] sweatybridge commented on #491
While making the minor version configurable is difficult, it should be possible for us to sync up local Postgres version exactly with your hosted Postgres version. Would this sufficiently solve your use case?

[2022-09-30 10:37] aslakhellesoy commented on #286
It's still broken. My GitHub Action:

[code]

The error:

[code]

Might I suggest that rather than relying on users to test that `supabase start` works on GitHub Actions, you have your own CI somewhere that verifies this and alerts you when it breaks? And maybe automate the parts of your release process that is prone to human error?

I've managed to make it start with a new workaround (my previous

[2022-09-30 11:04] Dizotoff commented on #491
This looks like a much lighter solution to my problem than I proposed. If it's possible to do, it would be fantastic.

[2022-10-02 02:14] #493 closed

[2022-10-02 12:06] dshukertjr opened #496 "Some SQL statements generate from `supabase db diff` are ordered in an unexecutable way"
# Bug report

## Describe the bug

Sorry if I'm missing something obvious, but SQL statements produced by `supabase db diff` seems to be ordered in an unexecutable way. For example, `create table` statement might be placed after a function definition that depends on the table. Using v1.5.4 of the CLI.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

[2022-10-02 15:22] sweatybridge commented on #496
Hello @dshukertjr , could you try diffing with `--use-migra` experimental flag? We found that it covers some cases in which pgadmin fails. The full command is:

[code]

Here's the generated output on my local dev:
<details>
<summary>SQL statements</summary>

[code]
</summary>

We are leaning towards defaulting to [migra](https://github.com/djrobstep/migra) in the future as it seems to work in more

[2022-10-03 03:00] sweatybridge commented on #496
Feel free to reopen if this is still a blocker for you.

[2022-10-03 03:00] #496 closed

[2022-10-03 03:23] #137 closed

[2022-10-03 03:27] sweatybridge commented on #158
This is fixed since v1.4.7 as we restart the db container after initialisation. The underlying issue was that we rely on `pg_terminate_backend` when switching/restoring databases and that closes all background worker connections. You may refer to https://github.com/supabase/cli/pull/465 for more details.

[2022-10-03 03:39] sweatybridge commented on #285
I have checked in v1.5.4 that schemas are now included the output of `db remote commit`.

Feel free to reopen this if you run into further issues with the CLI.

[2022-10-03 03:39] #285 closed

[2022-10-03 03:57] sweatybridge commented on #482
In addition, the hosted supabase project installs plv8 in `pg_catalog` schema so I'd suggest doing the same locally as well. The full command to include at the start of your migration file is:

[code]

Feel free to reopen if you are still running into this issue.

[2022-10-03 03:57] #482 closed

[2022-10-03 04:19] sweatybridge commented on #286
This appears to be a new ephemeral error rather than a regression. Out of 131 `supabase start` commands we [ran from CI](https://github.com/supabase/setup-cli/actions/workflows/start.yml) on 1 Oct, 41 failed with a missing image error. After releasing v1.5.4, we ran 97 tests on 2 Oct and all of them succeeded. This also fixes rate limit error when pulling from ECR.

Thanks for the feedback. We hav

[2022-10-03 04:31] sweatybridge commented on #419
Thanks for the feedback on this issue. We have released v1.5.4 that adds retries with exponential backoff when pulling images. We ran [97 tests yesterday](https://github.com/supabase/setup-cli/actions/workflows/start.yml) on CI and all of the commands succeeded in one try. You should be able to reliably pull from ECR now even as an anonymous user.

Please feel free to reopen if you encounter furth

[2022-10-03 04:31] #419 closed

[2022-10-03 10:37] 413n commented on #158
@sweatybridge I don't know if this should be closed, as the previously mentioned error **is still there** when adding the `pg_cron` extensions in a migration. I put the `create extensions` in the migration since the `extensions.sql` should be deprecated.
I tried with the latest `supabase` version (`1.6.0`)

Migration:
[code]

Error after `supabase start` goes through the first migration with the `

[2022-10-03 12:08] sweatybridge commented on #158
@413n you are right. There are 2 separate errors here, one resolved by restarting background worker and the other one is still outstanding.

Essentially we need to create pg_cron extension in the postgres database. I will keep this ticket open as we work on it.

[2022-10-04 05:38] BarakChamo opened #497 "Missing `seed.sql` in new local project"
# Bug report

## Describe the bug

After running `supabase init` and `supabase start`, I get the following error:
`Error: Error starting database: psql: error: /tmp/seed.sql: No such file or directory`

A `seed.sql` file is never created inside the `supabase` folder.

This happens after all containers are fetched and run and when the CLI is trying to run apply `seed.sql`.

## To Reproduce
Run `sup

[2022-10-04 05:46] BarakChamo commented on #497
Adding that the fix mentioned [here](https://github.com/supabase/cli/issues/277), creating a `seed.sql` file inside the `supabase` folder does not work.

[2022-10-04 23:51] jaredramirez opened #498 "If migration file is too big `supabase start` fails, same file works with `supabase db reset`"
# Bug report

## Describe the bug

Here's a video walking through the issue: https://share.descript.com/view/FeJdbUO7Rtp

Here's the written description:

We have been using supabase for >1 year, and we've been wanting to update our workflow to use the CLI. To get started I ran `supabase db remote commit` to get the current state of our DB. This produces a file about 12K lines long.

With this fil

[2022-10-05 01:29] msdrigg opened #499 "Supabase cli doesn't work if run in Powershell"
# Bug report

## Describe the bug

## To Reproduce

1. Install supabase cli with `npm i -g supabase`
2. Open windows powershell.
3. Run `supabase -v`
4. See error how a separate console opens up briefly, but nothing is printed in the calling powershell console

## Expected behavior

Supabase cli should function correctly in powershell (just like it does in the standard `cmd` shell).

## Screenshot

[2022-10-06 01:40] masakinihirota commented on #499
![バージョン確認](https://user-images.githubusercontent.com/7696510/194195190-51495fc6-4f35-4f36-9925-c35dba516805.JPG)

It is working in my Windows 10 environment.

[2022-10-06 04:54] WithMyTeam commented on #490
Hello @soedirgo

This version of deno works with Stripe in local dev?
because when I try to import Stripe
`import Stripe from "https://esm.sh/stripe?target=deno&no-check";`

and serve It's fail

logs:
[code]

[2022-10-06 06:12] soedirgo commented on #490
You might need to use an earlier version of `stripe` - the latest version might be using a `std` version that's incompatible with the pinned Deno version used by the CLI.

[2022-10-07 04:15] WithMyTeam commented on #490
I think it should have the possibility to choose his version of the deno runtime on supabase in a config file, is this envisaged?

[2022-10-07 04:15] haydn commented on #316
It looks like Realtime is included nowadays, so I'm assuming it [just needs its port exposed](https://github.com/supabase/cli/blob/1d944280ae33d084d13cfa0b4d8e677328fd6f79/internal/start/start.go#L597-L598)?

[2022-10-07 04:32] WithMyTeam commented on #490
I done tests.
effectively with the deno runtime version 1.21.1,  it's fails

but with the last version 1.26.0 it's works

it's possible to upgrade the version of deno to 1.26.0? or/and to add the possibility to add the runtime version of deno?

[2022-10-07 05:39] soedirgo commented on #316
I believe we need to add a [pgbouncer](https://www.pgbouncer.org) container for this (it's unrelated to Realtime)

[2022-10-07 05:44] soedirgo commented on #490
We don't plan to support setting the Deno version as that adds a point of failure. Maybe the solution right now is to use the latest Deno version and disable checks - I'll check this with the team.

[2022-10-07 21:17] ZetiMente commented on #383
Hi @sweatybridge I am still having issues with the CLI though.

<img width="902" alt="Screen Shot 2022-10-07 at 4 17 01 PM" src="https://user-images.githubusercontent.com/76985631/194653687-6d8e1b86-2558-4881-b64b-c3031dacf467.png">

[2022-10-07 21:21] ZetiMente commented on #477
Hi @sweatybridge I do have PGSODIUM enabled now, thanks to your help on the other issue ! I no longer get that error. I now get this:
<img width="902" alt="Screen Shot 2022-10-07 at 4 17 01 PM" src="https://user-images.githubusercontent.com/76985631/194655297-87f42b5b-7916-40a2-88d4-8a2fad3a6b03.png">

[2022-10-07 22:18] eeston commented on #497
To add to this, I seem to be getting the same error out of the blue after using the same `seed.sql` for a few weeks with no problems. It's kinda large (~3300 lines) but it's not caused any issues in the past.

macOS: 12.6
supabase: 1.6.0 (also 1.5.0 before I updated)

[2022-10-08 08:54] madeleineostoja commented on #66
This would be awesome for seeding local storage with the supabase API as well, rather than running a custom command with a node script for doing that after seeding.

[2022-10-08 15:35] osaxma opened #501 "Add hooks to cli commands"
# Feature request

## Is your feature request related to a problem? Please describe.

Currently, when I would like to run a command before or after certain supabase cli commands, I've to run that manually or write a script to run both commands.

## Describe the solution you'd like

It would be useful if we could hook commands to supabase cli commands. One idea comes to mind is to define them withi

[2022-10-09 03:29] madeleineostoja opened #513 "Materalized views aren't available in generated typescript types"
# Bug report

## Describe the bug

The generated typescript definitions from Supabase CLI do not include definitions for materalized views under `Database['public']['Views']`

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a database with a materalized view
2. Initialise supabase to generate tyhpes
3. Try to access generated types for mat

[2022-10-09 08:03] #489 closed

[2022-10-09 19:35] wahlforss opened #502 "Demo version"
What is the deno version of supabase edge functions? How can I update it?? I cannot run "npm:express" super hard to install "firebase-admin"

[2022-10-09 22:10] point-source commented on #490
Is the a workaround I can employ today to get my app working again until the team can review this?

[2022-10-10 05:58] soedirgo commented on #490
Can you try this?

[code]

[2022-10-10 06:07] soedirgo commented on #502
Hey there, we're currently pinning the Deno version to v1.20.3 because of some issues with `deno bundle`. Eventually we'll always use the latest stable Deno version. You can track this issue here: https://github.com/supabase/cli/issues/490

[2022-10-10 06:07] #502 closed

[2022-10-10 08:28] sweatybridge commented on #498
Thanks for the detailed bug report! I suspect the issue faced by `supabase start` is due to max size limit for docker exec arg. We faced similar issues in the past with `seed.sql` https://github.com/supabase/cli/pull/295.

Since `db reset` applies migrations via pgx, it doesn't face the same issue. I will work on a fix for `supabase start` soon.

[2022-10-10 12:41] MarcusRiemer opened #504 "Edge function with npm dependency behaves erratically on development environments and doesn't work on production"
# Bug report

Running `deno` code that loads JavaScript modules via the `deno` provided `require` wrapper doesn't work on the hosted environments but sort of works locally. "Sort of" because it crashes if enabled on boot, but it works fine after hot reload. So this bug report is fundamentally about two things:

1. The development environment behaves differently on boot (crash) and after hot reload

[2022-10-11 05:02] #460 closed

[2022-10-11 05:49] WithMyTeam commented on #490
Hello @soedirgo

When I try with &deno-std=0.132.0 for each libraries I import, it's works for me.

This is good progress 👍

[2022-10-11 08:56] #497 closed

[2022-10-11 08:56] #498 closed

[2022-10-11 15:18] paulgibbs opened #506 "supabase db remote commit fails with pg_dump error"
# Bug report

Same as https://github.com/supabase/cli/issues/437 so I am copying it over.

## Describe the bug

I have a supabase project that is running in production. Now I want to setup supabase for local development so that I don't develop against the production data. Therefore I run:

[code]

Error:

[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a r

[2022-10-11 15:57] sweatybridge commented on #506
Hello, thanks for following up on this issue. If toggling pg_graphql extension doesn't work, you might need to grant permissions manually to `postgres` role. Could you run the following statements in your project's SQL Editor and try remote commit again?

[code]

[2022-10-11 19:55] domosedov opened #507 "supabase start error with generated migration without schema of the table"
# Bug report

## Describe the bug

`supabase start` can't accept generated migrations in local dev

## To Reproduce
1. init new supabase local project `supabase init`
2. Run `supabase start`
3. use GUI(Supabase studio) and create two tables with foreign key.
4. create a migration using CLI `supabase db diff --use-migra -f test`
5. Run `supabase stop`
6. Run `supabase start`
7. See error
[code]

I

[2022-10-11 21:52] jaredramirez opened #508 "Gen types for schema other then `public`"
# Feature request

## Is your feature request related to a problem? Please describe.

We use schemas heavily to organized our database. Currently it seems the `gen` command only generates types for the `public` schema. It would be great to be able to generate types for other schemas too.

## Describe the solution you'd like

Ability to generate types for other schemas.

## Describe alternatives yo

[2022-10-12 06:39] #507 closed

[2022-10-12 10:14] #474 closed

[2022-10-12 13:45] point-source commented on #490
@soedirgo your suggestion worked for my plaid lib import from esm.sh but did not work for my deno.land import of [Opine 2.3.3](https://deno.land/x/opine@2.3.3). This is expected behavior and would normally mean that Opine needs an update but that project has been moved to maintenance mode in favor of using express via deno 1.25's npm compatibility mode.

So now I have plaid working but Opine faili

[2022-10-12 14:06] #158 closed

[2022-10-12 14:11] sweatybridge commented on #158
Thank you for your patience in this issue. I've tested it be working locally with our latest release. Please let me know if things are still broken.

[2022-10-12 14:17] #274 closed

[2022-10-12 14:49] soedirgo commented on #474
P.S. the fix isn't out on the latest CLI version yet, but will be soon once we update the typegen's Docker image version.

[2022-10-12 15:03] profiluefter opened #514 ""Applying migration" output corrupted"
# Bug report

## Describe the bug

The `supabase start` output is messed up.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a new supabase project with a few migrations
2. Execute `supabase start`
3. See corrupted console output

## Expected behavior

Normal output where each migration overwrites the name of the previous migration in the

[2022-10-12 15:31] soedirgo commented on #490
I was able to import Opine with `import Opine from "https://deno.land/x/opine@2.2.0/mod.ts"` - that seems like the closest version that works.

[2022-10-12 15:42] point-source commented on #490
Good call! That does appear to work as far as running it. Now I'm hitting a function size limit when I try to deploy it to supabase. That's out of scope for this ticket though.

[2022-10-12 15:44] sweatybridge commented on #514
Hello, I will look into making the logs prettier tmr. A temporary workaround is redirect stderr to NUL or $null on PS.

[code]

[2022-10-12 16:17] osaxma opened #517 "CLI should work properly when `supabase` is the working directory"
# Feature request

The CLI command(s) should work properly when `supabase` is the working directory.

## Issue

The behavior when running `supbase <command>` from within `supabase` directory varies between unexpected behavior to errors. I haven't tried all the commands but the following are two examples:

### Example 1: `supabase create functions`
- Run the following series of commands:
[code]

-

[2022-10-12 16:52] paulgibbs commented on #506
That did the job @sweatybridge - thank you

[2022-10-12 16:52] sweatybridge commented on #517
related https://github.com/supabase/cli/issues/329

[2022-10-13 05:43] #508 closed

[2022-10-13 05:43] #384 closed

[2022-10-13 06:25] soedirgo commented on #508
This should be out now - let me know if it works!
[code]

[2022-10-13 06:27] soedirgo commented on #384
Hey all, you can now use the command with `--linked` and `--project-id` - these don't require Docker or `supabase init` (you still need to `supabase login`). Let us know if it works!

Also let us know if you're still bumping into `Error: error running container` above.

[2022-10-13 09:24] sweatybridge commented on #183
Closing this issue as stale. Feel free to open again if this is still happening in the latest version.

[2022-10-13 09:25] #183 closed

[2022-10-13 22:04] eeston commented on #274
Hello,

I've currently toying around with a seed file that's around 3mb which is full of mostly JSON plus a few functions for inserting the data.

I'm running 1.8.2 and I'm getting the following error while trying to seed... `Error: bufio.Scanner: token too long`
I also tried to seed in the dashboard (local) but the limit there is 1mb.

Would importing from a csv be the prefered method here?

[2022-10-13 22:09] eeston commented on #274
Hello @sweatybridge,

I've currently toying around with a seed file that's around 3mb which is full of mostly JSON plus a few functions for inserting.

I'm running 1.8.2 and I'm getting the following error while trying to seed...
Error: bufio.Scanner: token too long.

I also tried to seed in the dashboard (local) but the limit there is still 1mb (Body exceeded 1mb limit).

Is there another way to

[2022-10-14 02:53] LehuyH opened #526 "Applying migrations returns"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain

[2022-10-14 02:59] LehuyH opened #527 "Applying migrations returns "cannot insert multiple commands into a prepared statement""
# Bug report

## Describe the bug
Trying to get my local database in-sync with remote. Creating the initial migration was successful but I am unable to apply it since there is a "Error: ERROR: cannot insert multiple commands into a prepared statement (SQLSTATE 42601)"

## To Reproduce
supabase-cli 1.7.9 on windows 10

1. Run supabase db remote commit
2. Run supabase db reset (or start)
3. Applying

[2022-10-14 03:03] sweatybridge commented on #527
Hi @LehuyH , could you try running with `supabase db reset --debug` and show us the last 50 lines of debug logs here?

[2022-10-14 03:04] #150 closed

[2022-10-14 03:10] sweatybridge commented on #150
We have added `supabase stop --backup` flag to dump and restore data from your local database when restarting. If you run into any problems with restoring the dumped data, please feel free to open a new issue.

We will likely make this flag the default behaviour once we iron out all the edge cases.

[2022-10-14 03:43] LehuyH commented on #527
[code]

[2022-10-14 04:25] sweatybridge commented on #418
Hello, sorry for getting back to you late on this one. We have added support for generating types on hosted projects using `--linked` or `--project-id` flags which run without docker.

For local database, docker is still required. You can also get debug logs by passing in `--debug` flag. Hope this helps.

duplicate of https://github.com/supabase/cli/issues/384

[2022-10-14 04:25] #418 closed

[2022-10-14 04:28] sweatybridge commented on #438
We have added support for `--linked` flag in the latest release https://github.com/supabase/cli/pull/518. Thank you for providing feedback on this feature request.

[2022-10-14 04:28] #438 closed

[2022-10-14 04:42] sweatybridge commented on #184
related to #150

We have added `supabase stop --backup` flag to save a pg_dump of your local database before stopping the containers. The dumped file is stored at `supabase/.branches/main/dump.sql` and will be restored on `supabase start`.

Note that the `--backup` flag persists both data and schema changes between development sessions. Once you are done developing, you still want to commit them s

[2022-10-14 04:42] #184 closed

[2022-10-14 05:11] sweatybridge commented on #527
Sorry could you help me isolate the problem further by deleting from `_remote_commit.sql` until the error is gone? I suspect there's an edge case with parsing statements that caused multiple statements to be grouped into one.

[2022-10-14 05:19] sweatybridge commented on #274
Hi @eeston , we have made the scanner buffer size configurable. You might need to play around with buffer sizes to fit your seed file. Perhaps 5mb could be a good start

[code]

Yes, the hosted dashboard has the same body size limit. We will look into extending the CLI to push your seed data to cloud instance using `supabase db push`. The related ticket is https://github.com/supabase/cli/issues/16

[2022-10-14 05:33] sweatybridge commented on #66
Hello, since `supabase start` is no longer blocking, the suggested script in this ticket `supabase start && yarn db:seed` should work now.

The more general request for running custom command after supabase start is similar to hooks. We have a proposal in #501 on how this might be done. Please have a look there and comment on anything you'd like to add.

Appreciate your feedback.

[2022-10-14 05:33] #66 closed

[2022-10-14 05:33] sweatybridge commented on #501
Also related #150

[2022-10-14 05:58] sweatybridge commented on #30
CLI v1 offers way to mirror your staging/production database locally. You can run the following commands to dump schemas locally after linking to a hosted project.

[code]

There are a few flags that we pass to [pg_dump](https://github.com/supabase/cli/blob/main/internal/db/remote/commit/templates/dump_initial_migration.sh) to ensure that restoring works. If you are using a manual dump, possibly f

[2022-10-14 05:58] #30 closed

[2022-10-14 06:47] eeston commented on #274
Fantastic...I'll test this at the weekend. Thanks for your help @sweatybridge

[2022-10-14 06:56] sweatybridge commented on #151
Hi @lughino , there appears to be a problem with the patch not updating search path of the temp role. You can fix it manually by running the following command in SQL Editor.

[code]

We will be updating the patch script upstream but it won't be automatically applied to any projects.

[2022-10-14 07:16] sweatybridge commented on #491
Here's the related issue for syncing postgres version https://github.com/supabase/cli/issues/389. I will close this ticket for now to focus on that one.

[2022-10-14 07:29] sweatybridge commented on #148
Closing this ticket as the CLI now prints migration logs to stderr instead of diseappearing.

There's a slight problem with making logs pretty on windows #514 which we will fix separately.

[2022-10-14 07:29] #148 closed

[2022-10-14 08:22] sweatybridge commented on #380
I believe the typegen issue is now fixed as I cannot reproduce following @pixtron's steps. We have also added support for a few more flags and no longer require docker for generating types on hosted projects.

[code]

Feel free to open this issue again if anyone is still running into problems.

[2022-10-14 08:22] #380 closed

[2022-10-14 15:53] lughino commented on #151
@sweatybridge Thanks that have fixed the issue.
However, I found other issues with that patch, like not having anymore autocomplete of table names in the SQL editor, but this is for another issue to open.
Thanks for your help

[2022-10-14 20:17] eeston commented on #274
Hi @sweatybridge,

Just had a play around with this and unfortunately it still fails with the same error. Not a big deal locally but for the hosted dashboaed I think I'll end up splitting the data into multiple chunks. I assume the csv upload option is also limited to 1mb?

[2022-10-15 03:01] LehuyH commented on #527
It seems like the following RLS policy causes  the error @sweatybridge
[code]

[2022-10-15 15:07] sweatybridge commented on #274
I just checked with our support team. The csv upload option does not impose such size limits. You should be able to upload 3mb of seed data using it.

[2022-10-15 16:10] kiwicopple commented on #274
The best way to seed a lot of data is through the COPY command:
https://www.postgresql.org/docs/current/sql-copy.html

It looks like you've go mostly JSON data - I have a small tutorial which could help with that:
https://paul.copplest.one/knowledge/tech/postgres-data.html

[2022-10-15 17:33] pcardosolei opened #529 "Generating types with postgis extension lead to file with lint errors."
# Bug report

## Describe the bug

When generating the Database Model via supabase cli if there is an postgis extension activate in its file the functions provided generate errors on the linter.

<img width="801" alt="Screenshot 2022-10-15 at 18 03 27" src="https://user-images.githubusercontent.com/10116142/196000066-8ad7926f-3876-445c-909e-f968a9599357.png">

## To Reproduce

Steps to reproduce t

[2022-10-15 20:47] oliverbytes commented on #184
Thanks. I just tried this. It successfully dumped but when "supabase start" I get "Error: ERROR: schema "auth" does not exist (SQLSTATE 3F000)"

[2022-10-16 04:01] sweatybridge commented on #529
Thanks for reporting this issue. May I check if you installed postgis in `extensions` schema or created its own `postgis` schema?

[2022-10-16 05:49] magick93 opened #531 "Support for ranges and custom types"
# Feature request

## Is your feature request related to a problem? Please describe.

When generating types columns that use a range are being generated with `unknown`.

For example:
[code]
Will generate:
[code]

As there are already several [range types](https://www.postgresql.org/docs/current/rangetypes.html) in Postgres these should be supported.

[2022-10-16 10:52] pcardosolei commented on #529
@sweatybridge hey.

Just did this code on tableplus directly.

[code]

[2022-10-17 05:04] sweatybridge commented on #184
Thank you for reporting this issue. I have updated the pg_dump script to include auth schemas in latest cli version.

[2022-10-17 07:01] Maca001 opened #533 "Anthony's marcellinus"
$Bug report
$$Describe the bug

A clear and concise description of what the bug is.
$To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error
$Expected behavior

A clear and concise description of what you expected to happen.

$$ Screenshots

If applicable, add screenshots to help explain your prob

[2022-10-17 07:02] #533 closed

[2022-10-17 07:11] eeston commented on #274
Thanks for the info @kiwicopple.

I ended up inserting the data in 5000row chunks...wasn't too much trouble. Good to know for next time though! 👍

[2022-10-17 07:33] sweatybridge commented on #437
Hi @barrelltech , to answer your questions:

You don't need to enable graphql extension for select/upsert functions as the default json output should be fine.

If you don't use graphql, it would be fine to omit graphql extension from the dump.

We have an alternative solution that you may want to try https://github.com/supabase/cli/issues/506#issuecomment-1274925661. If the problem still persists,

[2022-10-17 07:33] #506 closed

[2022-10-17 09:09] sweatybridge commented on #477
Hi, could you try running with `supabase db reset --debug` flag to check the detailed error log?

[2022-10-17 09:48] sweatybridge commented on #527
Thank you for providing this script. Unfortunately I tried to reproduce locally without success.

Here's the sql file I created:
<details>
<summary>
supabase/migrations/20221014075902_remote_commit.sql
</summary>

[code]
</details>

Both `supabase start` and `supabase db reset` succeeded without error:
[code]

[2022-10-18 03:57] LehuyH commented on #527
I investigated further and added a new RLS policy that causes the problem to recur; it appears that the two statements together are what to blame.

<details>
<summary>Edited SQL script</summary>

[code]

</details>

[2022-10-18 05:47] soedirgo commented on #529
Hey there, we just fixed this on our side - can you try regenerating your types?

[2022-10-18 05:56] #527 closed

[2022-10-18 06:07] sweatybridge commented on #527
I'm able to reproduce the error with your example now. It should be fixed in v1.8.7. Appreciate your help so far.

[2022-10-18 09:02] psteinroe commented on #192
with recent updates to the cli the performance of applying migrations is **much** better. Hence, this issue can be de-prioritized (at least for me).

[2022-10-18 09:58] pcardosolei commented on #529
it is fixed with the latest update.

Will take a look at the comment. Thanks!

[2022-10-18 09:58] #529 closed

[2022-10-18 14:05] ivanbtrujillo opened #541 "Injecting TS definitions is not working; responses are typed as any."
# Bug report

## Describe the bug

Hi,

I'm trying to provide TS types to supabase but it is not working. Responses are typed as any. Seems that something between .from and .select is missing.

After generating the types of my remote database and passing it to createClient, Supabase always returns "any" as the type of the responses after querying. I followed this doc:

https://supabase.com/docs/re

[2022-10-18 18:23] j2l opened #539 "1.8.7 can't connect"
# Bug report
## Describe the bug
On ubuntu 22.04, I'm running supabase docker with port 5432 open for supabase-db on docker_default.
postgres container **is accessible by dbeaver** using same credentials and port.
Also `npx openapi-typescript http://localhost:8000/rest/v1/?apikey=<key> --output src/componets/database.types.ts` works (AFAIU result is dfferent from supabase-cli).
But not direct acce

[2022-10-19 05:32] mclean25 opened #543 "Support `REDIRECT_URI` in external OAuth"
# Bug report

I'm trying to get the Github Auth provider to work with my Supabase instance running locally on my machine. It seems like the `redirect_uri` isn't being allowed/set based on the error I'm getting from Github(?). I'm continually end up redirected to the following URL: http://localhost:3000/?error=redirect_uri_mismatch&error_description=The+redirect_uri+MUST+match+the+registered+callba

[2022-10-19 07:47] soedirgo commented on #543
Hmm I don't think we expose `auth.external.github.redirect_uri` on the CLI config yet.

[2022-10-19 08:50] soedirgo commented on #541
Hey @ivanbtrujillo, can you upgrade `@supabase/supabase-js`? I think this is the same issue as https://github.com/supabase/supabase-js/issues/602

[2022-10-19 09:22] soedirgo commented on #327
Just an update: you can now generate types without init/linking/etc. - all you need to do is to login with your access token:

[code]
[code]

[2022-10-19 09:22] #269 closed

[2022-10-19 09:23] #277 closed

[2022-10-19 09:53] soedirgo commented on #539
The `postgres-meta` container (which runs the typegen) uses a temporary bridge network, so `localhost` wouldn't work as expected. Can you try using `host.docker.internal` instead of `localhost`?

[2022-10-19 10:09] j2l commented on #539
Thanks @soedirgo
I get `Error: getaddrinfo ENOTFOUND host.docker.internal`

[2022-10-19 21:04] churichard commented on #451
I think this would be really useful for CI purposes as well. For example, it would be nice to have the proper environment variables automatically filled in so that Cypress tests can be run in CI.

[2022-10-20 04:14] soedirgo commented on #539
Sorry, just realized you're on Linux. How about [`172.17.0.1`](https://stackoverflow.com/a/48547074/12396224)?

[2022-10-20 07:49] j2l commented on #539
I also tried the container internal IP, it's spinning for 1min and quit, that's how I found the temporary running container, changed its network to docker_default while it was running, without luck.

EDIT:  172.17.0.1 works!

Thank you very much for taking the time @soedirgo ! I didn't know about this gateway IP.
Closing this issue.

Bonus question: Is there a way to shut done the openapi schema U

[2022-10-20 07:49] #539 closed

[2022-10-20 07:51] #543 closed

[2022-10-20 07:57] soedirgo commented on #539
Hmm there isn't a way to do that right now unfortunately.

[2022-10-20 08:10] j2l commented on #539
Ah, ok, thanks again @soedirgo, good evening in Singapore :)

[2022-10-21 10:56] ccssmnn opened #551 "Option to change Supabase URL for Supabase Studio"
# Feature request

## Is your feature request related to a problem? Please describe.

I want to setup an ephemeral development environment with Gitpod to speed up our workflow. With Gitpod, everything runs in a cloud instance with Docker access. Ports are made available through subdomains: `localhost:54321`➡️`https://54321-WORKSPACE.gitpod.io`. Accessing Supabase Studio gets stuck after selecting

[2022-10-22 08:23] grieblius commented on #541
Hello,

I can confirm I have the same issue with latest `"@supabase/supabase-js": "^2.0.4"`.

When using generated types it returns `any[]` and even do not validate that `anytable` does not exist in types:
<img width="776" alt="image" src="https://user-images.githubusercontent.com/29752427/197328819-d6696daa-7636-4806-a2f7-24e462dd5e91.png">

When adding my custom types it returns `unknown[]`:
<im

[2022-10-22 23:43] Garett-MacGowan opened #553 "Local & Hosted Postgrest db-config Parity"
# Feature request

## Is your feature request related to a problem? Please describe.

When trying to programatically set up my project schemas & configuration, I expect the default local development settings to be the same as the hosted settings.

Currently, it seems that [db-config](https://postgrest.org/en/stable/configuration.html#db-config) is disabled in local development, meaning I cannot pr

[2022-10-23 00:46] Garett-MacGowan commented on #553
Upon [further inspection](https://postgrest.org/en/stable/configuration.html#list-of-parameters) the default value is set to `True`, so maybe there is something else going on on my end?

I dug through the code and found the exact spot that may or may not need updating. If we add `PGRST_DB_CONFIG` [here](https://github.com/supabase/cli/blob/676e50bb967e9316febb3efce4dfb982d21c91f5/internal/start/st

[2022-10-23 05:29] Garett-MacGowan commented on #553
There is a note [here](https://postgrest.org/en/stable/configuration.html#in-database-configuration) that says "When using both the configuration file and the in-database configuration, the latter takes precedence". There is no note that I can see regarding the precedence of environment variable configurations.

This makes me think that environment variables might take precedence above all, causin

[2022-10-23 21:33] vixalien opened #554 "supabase executable requires `supabase/config.toml`"
# Bug report

## Describe the bug

when you run the executable from github releases on linux, it throws this error:

[code]

`$(pwd)` is the current working directory.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to github releases for supabase
2. download latest tar.gz for linux amd64
3. extract the archive
4. run supabase eg. `supabase c

[2022-10-23 21:34] antonigiske commented on #167
I have the same issue. ´docker ps´ and all other commands. Docker Desktop is running also. I've tried to restart both computer and docker multiple times to no avail. Any tips are welcome.

### System information
OS: Mac 12.6
Version of Node.js: v16.13.0
Supabase CLI: 1.11.0
Docker: 20.10.20, build 9fdeb9c

[2022-10-23 22:15] antonigiske commented on #167
This was using latest Docker Desktop. After reading the release notes I noticed this on 4.13.0:

`By default Docker will not create the /var/run/docker.sock symlink on the host and use the docker-desktop CLI context instead.`

https://github.com/docker/for-mac/issues/6529

It worked for me after downgrading.

[2022-10-24 03:55] sweatybridge commented on #554
Hi @vixalien, `supabase/config.toml` file is created by the command [`supabase init`](https://supabase.com/docs/guides/cli/local-development) to contain project specific customisations. Typically users will run `supabase init` after cloning a git repository.

In the linked commit of this issue, I see that you have added a [prepare step](https://github.com/archlinux/aur/commit/004520a725c6938890f06

[2022-10-24 04:06] sweatybridge commented on #554
Also thanks for reporting this issue, I will find another way to fix it.

[2022-10-24 04:52] #554 closed

[2022-10-24 05:09] #479 closed

[2022-10-24 05:56] vixalien commented on #554
I believe that's what needed, but we also need to generate type completions, and that even requires the config file

[2022-10-24 06:09] sweatybridge commented on #554
Could you give the latest version a try? The bug was a regression from v1.8.2 and should be fixed since v1.11.1.

[2022-10-24 06:17] sweatybridge commented on #479
We have added `supabase db diff --use-migra --linked` flag to diff against linked project in latest version. Let us know if it works so we can default to use migra soon.

[2022-10-24 06:42] sweatybridge commented on #553
Hi @Garett-MacGowan, thanks for the detailed description. This is a good enhancement to have. There are a few things that we need to match between local and hosted, including the service config you mentioned and the [postgres version](https://github.com/supabase/cli/issues/389) here.

[2022-10-24 06:52] sweatybridge commented on #485
Hi @mclean25, I'm going to link this issue to https://github.com/supabase/cli/issues/389 since we plan to address the mismatched postgres version issue soon.

Regarding pg_dump, we currently have a command `db remote commit` that dumps schema from the linked project. It uses [pg_dump internally](https://github.com/supabase/cli/blob/main/internal/db/remote/commit/templates/dump_initial_migration.sh

[2022-10-24 07:01] jsbrain opened #558 "Wrong typings for single column rpc"
# Bug report

## Describe the bug

Typings for rpc functions with single column table are incorrect.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

Create function:

[code]

Generating types results in:

[code]

While rpc result data is:

[code]

## Expected behavior

[code]

## Screenshots

If applicable, add screenshots to help explain your prob

[2022-10-24 07:03] jsbrain commented on #558
I'm also curious if there is a way to actually infer the actual property keys while generating the types so the typings would look like the result object, e.g.:

[code]

[2022-10-24 07:38] grieblius commented on #541
FYI, I was generating types from local environment.
I've checked generated types and compared with other examples. There was no `Views` property.
In my case, manually adding `Views` property, fixes `any` issue:
[code]

<img width="542" alt="image" src="https://user-images.githubusercontent.com/29752427/197471004-f1a78188-d4e3-4ed8-a5a5-a082e36c51a0.png">

Also, now I understand that when migrating

[2022-10-24 07:43] probablykasper commented on #479
@sweatybridge It's outputting `No changed found`, so I assume it's working and fixed the other there as well (assuming that's expected)!

[2022-10-24 17:17] malerba118 commented on #276
my processes are also stuck at the same point when i run `supabase db remote changes` and `supabase db remote commit`

[2022-10-24 17:55] sweatybridge commented on #276
Hi, we have added migra support in the latest version for diffing linked project. It seems less prone to hanging than the default diff tool. You may use the following command in place of remote changes:

[code]

Any newly created schemas need to be declared explicitly via the `--schema` flag.

[2022-10-24 20:55] abhay187 commented on #327
This works why this is not mentioned in docs? I tried **openapi-typescript** which did not work.
Also, how to output it to a file?

[2022-10-25 05:48] RyanTippsTX commented on #327
@abhay187

You can use [Output Redirection](https://www.tutorialspoint.com/unix/unix-io-redirections.htm) in your shell command, for example:
[code]

[2022-10-25 05:53] soedirgo commented on #541
@grieblius can you try updating the CLI and restarting the local dev? IIRC the lack of `Views` was in an earlier version where the features weren't stable yet.

FYI passing type parameters in `.from()` is not supported - this may break at any time. The only supported type params are `Database` and `SchemaName` in `createClient()`/`SupabaseClient`/`PostgrestClient` and `Result` in `.returns()`.

[2022-10-25 05:56] soedirgo commented on #327
We're working on an updated docs for TypeScript support. openapi-typescript isn't compatible with supabase-js v2.

[2022-10-25 11:02] abhay187 commented on #276
@sweatybridge can you elaborate more. If I have table in my remote project supabase db remote commit fails

[2022-10-26 04:01] cravelight commented on #167
I just went ahead and created the symbolic link and it worked for me. I'm upgrading to a new machine next week anyway, so this one will be wiped. :)

`ln -s /users/me/.docker/run/docker.sock /var/run/docker.sock`

I had to sudo it.

[2022-10-26 04:48] soedirgo commented on #167
You can also use the `DOCKER_HOST` env for now (in `~/.bashrc`, etc.) until this is fixed upstream:

[code]

[2022-10-26 06:05] grieblius commented on #541
Oh, thank you, forgot to update `supabase` as it was installed as a global package..
That fixes the problem.

And thank you for information regarding `.from()` type parameters.

[2022-10-27 09:22] sweatybridge commented on #276
May I know what's the error message when it fails? It may be fixable by clearing the migration history table on your hosted project.

![Screenshot 2022-10-27 at 5 22 19 PM](https://user-images.githubusercontent.com/1639722/198246289-0f25a5b2-db32-47b4-a986-0d19d2cb59a8.png)

[2022-10-27 17:42] karesztrk commented on #499
Same issue here

[2022-10-28 10:23] soedirgo commented on #541
Closing this issue - feel free to comment if upgrading the client lib doesn't fix it, and we can reopen this.

[2022-10-28 10:23] #541 closed

[2022-10-28 11:44] isaacfink opened #566 "Unknown or unexpected option: project-id when using the cli to generate types"
# Bug report

When running the cli to generate types I get this error
`Unknown or unexpected option: project-id`

## Describe the bug

Can't generate types from the cli

## To Reproduce

run the following in a project
`npx supabase gen types typescript --project-id "project-link" --schema public > ./src/lib/types/generated.ts`

## Expected behavior

types should be generated

[2022-10-28 11:49] sweatybridge commented on #566
Hi @isaacfink, could you check the version of cli you are running?

The flag should be available after updating via npm.

[2022-10-28 12:03] isaacfink commented on #566
@sweatybridge that was it I feel stupid now, closing this issue

[2022-10-28 12:03] #566 closed

[2022-10-29 04:28] corasan opened #568 "PGCRYPTO functions don't exist when seeding local database"
# Bug report

## Describe the bug

I just upgraded to the latest version of the CLI (v1.11.3) and my previous seed file stopped working (coming from v1.6.x) because it's not recognizing the pgcrypto functions even though the extension is added successfully. To be more specific, I am trying to insert new users and I'm using `crypt('testing123', gen_salt('bf'))` in the password field but I get this

[2022-10-29 15:44] sweatybridge commented on #568
Hi @corasan, I'm unable to reproduce this issue on a new project. What I did was

[code]

Could you provide more details to help debug further:
1. Are you using pg13 or pg14?
2. Is pgcrypto installed to `extensions` schema?
3. Do you have any migration file that changes the `search_path`?

[2022-10-29 17:22] corasan commented on #568
1. I am using pg14
2. pgcrypto is installed in the extensions schema. If I query `select * from pg_extension;` I see it listed and if I check the enabled extensions in studio I see it listed there too.
3. I looked up `search_path` in the entire project but I only see `search_path` mentioned in the migration file generated by running `supabase db remote commit`(`SELECT pg_catalog.set_config('search

[2022-10-29 17:59] corasan commented on #568
### Update

@sweatybridge after trying to move things over to the newly created project I discovered that my original migration file from remote DB (...xxx_remote_commit.sql) was the cause of the issue. The only difference I noticed is at the end of the file there's a `RESET ALL;` line added.

[2022-10-29 18:53] sweatybridge commented on #568
I see. Thank you for clarifying.

The problem you ran into had the same root cause as #507. We added a fix in v1.7.4 but unfortunately didn't handle the edge case with existing `_remote_commit.sql` generated by older clients.

Essentially we have to be careful with session configs now that we are running all migrations over the same pg connection. We should use `set local ...` instead of `set ...`

[2022-10-29 19:12] corasan commented on #568
Another thing I forgot to mention before is that I only noticed the `RESET ALL;` at the end of the migration file because I ran `supabase db remote commit` again to see what was different.

[2022-10-31 05:10] fergusmeiklejohn opened #570 "bug in gen types in Supabase CLI"
# Bug report

I have encountered a problem generating types with the CLI
`supabase gen types typescript --db-url postgresql://postgres[PASSWORD]@db.[DB-ID].supabase.co:5432/postgres`

First this fails with
`Error: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?`
Why would Docker need to be running to generate types from a remote db? Fair enough if

[2022-10-31 11:25] sweatybridge commented on #570
Hello @fergusmeiklejohn, could you try updating the CLI to the latest version? I will also update the docs to include the min supported CLI version as a prerequisite.

closed as duplicate #566

[2022-10-31 18:49] psteinroe opened #571 "Support `db test` files with `.sql` extension"
# Feature request

## Is your feature request related to a problem? Please describe.

Most editors do not recognise `.pg` files out of the box, hence all our tests are written in `.sql` files.

## Describe the solution you'd like

Either add option to define file type or, since all tests are within the test dir anyway, just always use both extensions.

## Describe alternatives you've considered

A

[2022-10-31 21:44] magick93 commented on #380
I'm using version 1.11.3.

`supabase gen types typescript --db-url "postgres://postgres:postgres@localhost:54322/postgres" --debug` results in:

[code]

Supabase postgres is definitely running on port 54322.

[2022-11-01 01:43] fergusmeiklejohn commented on #570
Right thanks very much! So the first problem is with Homebrew! I installed the supabase cli with brew, and there is some very weird bug in homebrew where it's requiring me to install a version of XCode which hasn't been released. See screengrab.
<img width="887" alt="CleanShot 2022-11-01 at 09 20 29@2x" src="https://user-images.githubusercontent.com/11864025/199138999-1b8600f1-c95b-451f-9ada-f4395

[2022-11-01 01:48] fergusmeiklejohn commented on #570
I'm getting there with this but it's still in error.
First if I try to use the --db-url flag I get an error: `Error: URL is not a valid Supabase connection string.` but the docs don't indicate what a valid connection string should look like.
But then I realised that I can use --project-id anyway which is much better than --db-url, but there I'm getting a long way along the path but still getting a

[2022-11-01 04:30] soedirgo commented on #570
Yeah, I think we can add `npm`/`npx` as one of the installation options in that page.

Hmm this looks like a bug in our Management API - I'll take a look at this and loop back here.

[2022-11-01 04:31] soedirgo commented on #380
Hey @magick93, the typegen is running in a container, so `localhost` probably won't resolve properly. For the local db specifically, you can use the `--local` flag instead of `--db-url`.

[2022-11-01 05:30] fergusmeiklejohn commented on #570
Local works:
`npx supabase gen types typescript --local > DatabaseTypes.ts`
🥳

Interesting that I'm using fig in the terminal which gives me autocomplete and `--project-id` is not offered isn't only
[code]
npx supabase is installing Supabase CLI 1.11.3

[2022-11-01 06:49] #571 closed

[2022-11-01 07:32] psteinroe commented on #571
That was fast, thanks!

[2022-11-02 04:34] fergusmeiklejohn opened #574 "TS: Inferred types are incorrect"
# Bug report

## Describe the bug
 See the below screenshot. The left-hand column is the code, the right-hand column shows what Supabase is returning.
In the code you can see that `presentation.title` is a TS error because `presentation` is inferred to be an array. The inferred types are in the comment below the function.
In the right-hand column, you can see that Supabase returns `presentation` a

[2022-11-02 12:41] xxRockOnxx opened #577 "[Bug?] Views with non-nullable properties are nullable in generated types"
# Bug report

So as mentioned in the title: Views with non-nullable properties are nullable in generated types.

## Describe the bug

Related StackOverflow question: https://stackoverflow.com/questions/17301323/why-are-my-views-columns-nullable

It seems like according to one of the answers:

According to another one of the answers, you can also set the nullability manually.

The CLI seems to sole

[2022-11-02 15:00] CharlesFJWilliamson opened #576 "Supabase auto-generated types appear to be incorrect for timestampz"
# Bug report

## Describe the bug

When working with a field that is of type timestampz, the auto-generated types return string as the type for the field, whereas the database/API will only accept date objects that match the expected format.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a new table
2. Create a property called date, with

[2022-11-03 03:01] soedirgo commented on #576
Hey @CharlesFJWilliamson, there isn't an easy way to assert the string matches the required timestamp format - it is [*possible*](https://spin.atomicobject.com/2017/06/19/strongly-typed-date-string-typescript/), but it's difficult to use and maintain.

In general, it isn't feasible to ensure that all data format requirements are caught at build time - e.g. if you have a `text` column with a `check

[2022-11-03 03:01] #576 closed

[2022-11-03 03:22] soedirgo commented on #577
Yeah, I think this is a limitation on the Postgres side as per the SO link. See also: https://github.com/supabase/cli/issues/385#issuecomment-1253370577

So the only option is probably setting the nullability manually. The typegen currently ignores that though - I'll keep this issue open until we fix that.

[2022-11-03 17:42] bhaan opened #578 "db test command does not print failing test results"
# Bug report

## Describe the bug

When running the command `supabase db test` or `supabase test db`, if any of the tests fail, the CLI does not print the `pg_prove` test results to the terminal window. Instead it only prints a generic `Error: error executing command` message.

## To Reproduce

Create a file like `supabase/tests/failure.sql` with the following contents:

[code]

Then run:
[code]

[2022-11-04 01:14] #578 closed

[2022-11-04 07:20] riderx commented on #456
Any news on that ?
at leas i wich the deploy method could be run in paralell for now it's breaking if i do that, so updating my function take 1 min to do it one by one
it's a big cost in CI/CD

[2022-11-04 10:15] johanneskares opened #582 "`numeric` type in Postgres is generated as `number` - Precision is lost"
# Bug report

## Describe the bug

The `numeric` type in Postgres is generated as Typescript `number,` making it very hard to set numbers beyond the javascript numbers precision (Number MAX_SAFE_INTEGER) which is very common in Blockchain applications.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a table with a numeric type
2. Generate

[2022-11-06 14:00] MaxAst opened #583 "supabase db reset error: invalid memory address or nil pointer dereference"
# Bug report

## Describe the bug

After running `supabase db remote commit`, I ran `supabase db reset` as was suggested by the CLI. This led to the following error:
[code]

When adding the `--debug` flag, I can see that it is caused by the pg_graphql extension:
[code]

## To Reproduce

I have the following extensions installed (Thought this info may be useful, given that a previous [issue](https:

[2022-11-08 14:49] enyo commented on #577
This might help you @xxRockOnxx
I wrote this helper utility type in typescript:

[code]

It can be used like this:

[code]

The second generic argument is optional, if you don't provide it, then _all_ fields will be non nullable. But if some fields actually are nullable, then you can provide the list too.

[2022-11-09 10:53] Evaldas-B opened #588 "Supabase CLI fails to create a local copy of remote database"
# Bug report

## Describe the bug
Running `supabase db remote commit` creates a migration that later fails when running `supabase start` with provided error:

    Applying migration 20221109095547_remote_commit.sql...
    Error: ERROR: function graphql.get_schema_version() does not exist (SQLSTATE 42883)
    At statement 89:

    --
    -- Name: FUNCTION "get_schema_version"(); Type: ACL; Schema:

[2022-11-09 22:46] codewriter73 opened #590 "Allow insertion of custom types for 'Json' type with the 'gen types typescript' command"
# Feature request

After having to manually change the JSON values of my types file every time I generate a new ones, it gets repetitive. It seems like it should possible to have those types replace automatically when the `supabase gen types typescript` is run.

## Describe the solution you'd like

I'm not exactly sure how this would be approached, but it seems one possible solution would be to pa

[2022-11-10 03:41] fergusmeiklejohn commented on #574
I'm finding various interesting type inference bugs. The type inferences are forcing me to write *better* query strings, which is good. I mean that various string possibilities will return the data but often the type system wants me to use one of them.
I keep finding strange bugs though, like for example the type system will insist that a property doesn't exist on a type when it does exist and the

[2022-11-10 19:18] hinst opened #762 "Supabase on localhost steals focus from active Window on Windows 11"
# Bug report

## Describe the bug

Supabase on localhost steals focus from active window on Windows OS approx. every 30 seconds.

## To Reproduce

Steps to reproduce the behavior:

1. Use Windows 11
2. Start Docker (WSL2
3. Run `supabase start` in your project folder
    4. Observe the successful start
5. Wait for a few hours

## Expected behavior

It is possible to work without interruptions, for

[2022-11-11 04:24] #588 closed

[2022-11-11 10:29] #583 closed

[2022-11-11 14:54] AvidDabbler opened #595 "issue connecting with local database when using `use-migra`"
# Bug report

## Describe the bug

After having a successful ci cd pipeline for about a month i have noticed that when I use `supabase db diff --use-migra` command the `--use-migra` flag it throws an error saying that it cannot connect to the local db. I have confirmed that taking out the flag will solve the issue, but is not great as it keeps generating a database update on every commit reguardle

[2022-11-11 17:25] #595 closed

[2022-11-11 18:39] ryanalta commented on #451
Just wound up on this because it looks like the default keys are all hardcoded and not generated. Would be extremely nice to have something better!

[2022-11-11 20:01] xsmithdev opened #598 "When using with PowerShell, commands run in separate short-lived window"
# Bug report

## Describe the bug

When using PowerShell, commands run in a separate short-lived window that closes quickly. For example, running `supabase -h` a separate window appears and disappears while nothing happens in the window which ran the command.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Install globally `npm i -g supabase` (r

[2022-11-12 13:03] thomasmol commented on #277
The problem @vejja is describing is still happening to me. I am on version 1.11.7 of the cli.
My seed.sql has roughly 270 insert statements but I get this error:
[code]
```challenges``` is one of my table names.

[2022-11-12 15:59] izayl opened #599 "relation "public.employees" does not exist"
# Bug report

## Describe the bug

use the example of [document](https://supabase.com/docs/guides/cli/local-development), cannot successfully start .

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. create a empty fold
2. run `supabase init`
3. add the following code to `seed.sql`
4. run `supabase start`

[code]

## Expected behavior

the local s

[2022-11-12 16:19] sweatybridge commented on #599
Hi @izayl, have you tried creating the employees table in a new migration file? I believe this is working as [documented](https://supabase.com/docs/guides/cli/local-development#make-database-changes) because `seed.sql` is designed to contain only data inserts/updates/deletes. DDL statements like `create table` should be added via new migration.

[2022-11-12 16:26] sweatybridge commented on #277
Hi @thomasmol, is your `challenges` table created in `seed.sql` or a separate migration file? DDL statements like create table are not designed to be used in `seed.sql`.

If you are sure that the table is created in its own migration, you might also want to prefix references to `challenges` table with its schema, for eg. `"public"."challenges"`. This helps to avoid ambiguity resolving tables with

[2022-11-12 17:04] izayl commented on #599
@sweatybridge yes, I've tried to use a new migration to `insert`, but still, it not work.

[2022-11-12 17:08] izayl commented on #599
and it works if there only `create table` and without `insert`

[2022-11-12 17:14] sweatybridge commented on #599
Just to be clear, our documentation suggests creating 2 separate files

- `supabase/20220730063745_add_employees.sql`
[code]

- `supabase/seed.sql`
[code]

After that `supabase start` works for me.

[2022-11-12 17:29] izayl commented on #599
@sweatybridge you're right, thanks for your help!

[2022-11-12 17:29] #599 closed

[2022-11-13 05:51] WesleyYue opened #600 ""function graphql.get_built_schema_version() does not exist" during supabase start"
# Bug report

## Describe the bug

Trying to follow the Github Actions CI/CD tutorial, when the runner gets to the "supabase start" step. It runs into an issue where graphql.get_built_schema_version() does not exist on the newly spun up database.

Related issues:
 - https://github.com/supabase/cli/issues/583
 - https://github.com/supabase/cli/issues/246
 - https://github.com/supabase/cli/issues/47

[2022-11-13 05:54] sweatybridge commented on #600
Yup, you can safely comment out statements that start with `GRANT ALL ON FUNCTION "graphql"`. Our updated [pg_dump script](https://github.com/supabase/cli/blob/main/internal/db/remote/commit/templates/dump_initial_migration.sh#L19) also does the same thing on newer versions of CLI. Thanks for raising this ticket for future reference.

[2022-11-13 05:56] sweatybridge commented on #583
Thanks for reporting this issue. This problem is due to postgres image version mismatch between hosted and local. It should be fixed in latest version.

[2022-11-13 05:57] sweatybridge commented on #588
Thanks for the detailed bug report. This problem is due to postgres image version mismatch between hosted and local. It should be fixed in latest version.

[2022-11-13 06:03] sweatybridge commented on #480
Hi @ryanalta, could you share with us your `devcontainer.json` file to reproduce the error? I tried the following which works

[code]

Here's the output from `supabase db reset` running inside dev container

[code]

[2022-11-13 14:00] nfcampos opened #729 "`supabase start` errors with `Database is not healthy`"
# Bug report

## Describe the bug

`supabase start` errors with `Database is not healthy`

## To Reproduce

[code]

## System information

- OS: macOS
- `supabase --version` is `1.12.2`

[2022-11-13 16:51] WesleyYue commented on #600
The github issue SLA from your team is insane. Thanks for the quick response.

[2022-11-13 17:16] WesleyYue opened #602 "supabase gen types different order on my machine vs github actions"
# Bug report

## Describe the bug

Trying to implement CI in Github Actions for verifying types have been generated and committed in git by following [this](https://supabase.com/docs/guides/cli/managing-environments#deploy-a-migration).

I am running into a weird issue where the order of the fields get generated slightly differently between my machine and github actions and it's not clear why. I c

[2022-11-13 17:36] WesleyYue opened #603 "Type generated for Views are incorrect set as optionally null"
# Bug report

## Describe the bug

Generated types for Views have field that are incorrectly marked "| null".

## To Reproduce

1. Have a table along the lines of:
[code]
2. Create a View like
```CREATE VIEW view_name AS SELECT id, created_at, field1 FROM public.name WHERE deleted_at IS NOT NULL;```
3. Generate types with `supabase type gen --local > types.ts`
4. Types come out something like
[cod

[2022-11-13 17:49] WesleyYue opened #604 "Generated types for Views with a JOIN is missing the update types"
# Bug report

## Describe the bug

With a view created with a join, `supabase gen types` does not generate the `Update: {...}` types for that view and I have to manually inject it.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Create a View with a JOIN
2. Generate types with `supabase gen types`
3. Check that the view type does not contain typ

[2022-11-15 05:06] Dal-Tron commented on #327
Hey, I'm using `supabase: 1.12.2` and when I run the command above, I get an error:
`Error: unknown flag: --project-id`

[2022-11-15 08:08] #600 closed

[2022-11-15 09:02] TedAce commented on #602
The same issue here, tried many different things but with no luck. On the local machine, I'm using a prettier but the type file is ignored, also tried with no prettier on local env at all, using a prettier on remote - still the same.

Can't figure out a solution.

Run supabase gen types typescript --local > DatabaseDefinitions.ts
Detected uncommitted changes after build. See status below:
diff --g

[2022-11-15 11:35] allezxandre opened #610 "Supabase Migrations cannot handle `CREATE FUNCTION` with the `BEGIN ATOMIC` syntax"
# Bug report

## Describe the bug

It is not possible to create a procedure or function using the `BEGIN ATOMIC` syntax from PostgreSQL 14 in a Supabase migration.

Probably a side-effect, but running `supabase db diff` after such a function has been defined returns:

[code]

`supabase db diff --use-migra` does not have the issue:

[code]

## To Reproduce

Create a new migration (`supabase migrati

[2022-11-15 11:35] allezxandre commented on #610
This might be related to `pgadmin`, but I see the issue has been solved upstream here: https://github.com/pgadmin-org/pgadmin4/issues/4785

[2022-11-15 16:18] ntoombs19 opened #611 "Roll back migrations that are out of sync between the local and remote DB"
# Feature request

## Is your feature request related to a problem? Please describe.

When working in a team that is creating migration scripts, it is common for one dev to have deployed a migration to a remote DB before another. When the migration that has a timestamp that is older than any migrations on the remote DB, `npx supabase db push` will fail with the error message:

[code]

The workarou

[2022-11-15 16:53] Gilighost opened #612 "Migrations generated with previous version fail to apply after upgrade."
# Bug report

## Describe the bug

Migration files were generated on version 1.8.4 and have been applied successfully while using this version. But after upgrading, the first migration file will fail with:

[code]

## To Reproduce

- Install version 1.8.4
- Generate migration file with remote commit
- run `supabase stop`
- run `supabase start`
  - should work as expected
- run `supabase stop`
- in

[2022-11-16 01:41] fergusmeiklejohn commented on #574
Another seeming TS inference bug: how can `id` be undefined? It's a required field in every row. It cannot ever be undefined.  If there is no error (I'm throwing if there is an error fetching from Supabase) then id must be defined.
<img width="373" alt="CleanShot 2022-11-16 at 09 37 01@2x" src="https://user-images.githubusercontent.com/11864025/202062135-5a57f2c4-cf2b-4885-856f-97bd8955be9b.png">

[2022-11-16 19:57] MaxAst opened #615 "ERROR: schema graphql is not a member of extension "pg_graphql""
# Bug report

## Describe the bug

I'm trying to generate typescript types for my project. I installed the latest supabase cli, logged in, linked the project and ran `supabase db remote commit`. After that I ran `supabase db reset` as was recommended by the cli. This caused the following error:

[code]

## To Reproduce

See above

## Expected behavior

The initial migration works as expected, so t

[2022-11-16 20:27] MaxAst commented on #615
I ran the SQL statements mentioned in [this issue](https://github.com/supabase/cli/issues/506), deleted the previous migration, and re-tried it. `supabase db remote commit` worked fine again and `supabase db reset` returned a different error now:
[code]

[2022-11-16 20:32] MaxAst commented on #615
FWIW toggling off the pg_graphql extension fixed the issue. This is fine for us, given that we don't make use of the extension. Nonetheless I'll keep the issue open, so this can be investigated for those who want to keep it toggled on

[2022-11-16 21:35] ryanalta commented on #480
It doesn't seem like there's a way to specify the hostname in 1.12.2 either-- I'm using a devcontainer that extends an existing docker-compose with a custom Dockerfile for the main container that the devcontainer runs in (can't share), but I can force localhost for the container to resolve to my host IP with `extra_hosts`. I've added this to my docker-compose file and seems to work well enough:

[

[2022-11-17 05:38] soedirgo commented on #603
Duplicate of https://github.com/supabase/cli/issues/577

[2022-11-17 05:38] #603 closed

[2022-11-17 05:54] soedirgo commented on #604
I don't think views with a JOIN are [automatically updatable](https://www.postgresql.org/docs/current/sql-createview.html#id-1.9.3.97.7.11.2). You could of course create a trigger as per the docs, but then you can't infer the types from that since you can do pretty much anything in the trigger.

[2022-11-17 05:57] soedirgo commented on #602
Hmm, I thought that was fixed by https://github.com/supabase/postgres-meta/pull/380, but I guess that doesn't cover columns.

[2022-11-17 06:49] WesleyYue commented on #604
Gotcha, makes sense. Thanks.

[2022-11-17 06:49] #604 closed

[2022-11-17 07:47] soedirgo commented on #490
Good news - we've removed the Deno version pin in https://github.com/supabase/cli/pull/601! Can you check if your function can be deployed now? (You might need to update the CLI)

Here's the snippet I used to test this:

[code]

[2022-11-17 10:07] bastiaanv opened #616 "[Bug] Gen Types db-url limited"
# Bug report

## Describe the bug

Currently, it is only possible to use a `--db-url` with the postgres user and the postgres database. Our self-hosted environment uses the `supabase` database name and does not have a postgres user.

## To Reproduce

[code]

## Expected behavior

To use a `--db-url` which allows to use every database name, username, ip-address (or dns), etc.

## System information

[2022-11-18 01:09] #616 closed

[2022-11-18 02:14] sweatybridge commented on #615
Thanks for reporting this issue. It is similar to #600 and #612. Our pg_dump script should ignore all schema changes generated by extensions. Unfortunately we haven't found a way to reliably exclude grants and revokes from pg_dump.

Our suggestion atm is to manually comment out lines containing ACL changes to graphql schema.

[2022-11-18 02:44] twofingerrightclick commented on #441
I am having the same issue with 1.14.0... its hard to be a windows (and PowerShell 7) dev with node :)
The workaround of running supabase.exe from the install path is getting me by. (`./node_modules/supabase/bin/supabase`)

[2022-11-18 02:44] sweatybridge commented on #612
Thanks for reporting this issue. Our resolution atm is to comment out lines containing changes to extension schemas like graphql. See #615 and #600.

Regarding the expected behaviour, we want the CLI to run all SQL files in supabase directory without modification. Unfortunately that means old `_remote_commit` scripts could break on new CLI versions, either due to bugs or breaking changes on the ho

[2022-11-18 02:52] sweatybridge commented on #441
Hi @twofingerrightclick, did you run into this issue with a fresh install, ie. `npm i supabase --save-dev`, or with package.json that already contains supabase as dev dependency? The latter would be a new issue that's also present on mac and linux.

[2022-11-18 02:52] sweatybridge opened #620 "preinstall doesn't add to path when using yarn add"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain

[2022-11-18 03:11] twofingerrightclick commented on #441
@sweatybridge ... it was a `npm i supabase --save-dev`. I'll watch that issue. Thanks!

[2022-11-18 03:35] rlightner opened #621 "Error in eszip wasm with lastest CLI (1.14.2)"
Updated to latest CLI with no change in functions. Trying to deploy a text change to a function and getting this error now:
[code]

[2022-11-18 04:19] soedirgo commented on #621
Thanks for reporting, we're looking into this. In the meanwhile you can try running it like:

[code]

[2022-11-18 04:32] rlightner commented on #621
I had a stripe reference not calling`&no-check` and that seemed to do the trick. Is that documented anywhere?  Thanks for unblocking me!

[2022-11-18 04:32] #621 closed

[2022-11-18 04:40] soedirgo commented on #621
Happy to help! We recently made a change to the deploy command which might've caused this - will add a note for this on our docs :+1:

[2022-11-19 10:14] abhagsain commented on #327
I also got the same error then I upgraded to `v1.14.3` and it worked. I had installed it with `brew` so `brew upgrade supabase`
[code]
Please note that the autocomplete might not show `project-id` but the command works.

[2022-11-19 13:35] samuba opened #624 "exclude parameter for `supabase start`"
# Feature request

## Is your feature request related to a problem? Please describe.

Starting supabase in CI environments (Github Actions) takes a long time because all containers are freshly pulled every time, but you might not even need all of them.

## Describe the solution you'd like

It would be lovely to have something like an exclude parameter for `supabase start` where you can specify the

[2022-11-19 14:41] sweatybridge commented on #624
Hi @samuba, that's a great idea. I think Postgres is the only required container for basic CI. Feel free to tag me in a draft PR if you run into any difficulties.

[2022-11-19 17:43] Dal-Tron commented on #327
@abhagsain Thanks, that was it!

[2022-11-20 16:35] planktonrobo commented on #327
should add this to docs

[2022-11-20 18:57] planktonrobo commented on #327
Should add tis to docs

[2022-11-20 23:27] mxmzb opened #625 "Only apply migrations with .sql extension"
# Bug report

[code]

## Describe the bug

When i run `supabase db push --debug` it will fail due to `.DS_Store` file, which by the way **does not exist** inside `./supabase/migrations/` !!

## To Reproduce

Run `supabase db push --debug` on a mac with an existing sql migration file.

## Expected behavior

It will sync up my migrations to the remote db.

## System information

- OS: macOS 13.0
- V

[2022-11-21 13:05] mgm1313 opened #627 "db remote changes: Error creating shadow database"
# Bug report

## Describe the bug

When running `supabase db remote changes --debug` the command fails with: `Error: error creating shadow database`.
The debug output is:

[code]

Even when completely emptying my `_remote_commit.sql` file, the command still fails, which seems odd to me? `supabase db reset` is working. I'm not sure how to start debugging this.

## Screenshots

![CleanShot 2022-11-2

[2022-11-22 19:13] Gerschtli opened #631 "CLI should print its version"
# Feature request

## Is your feature request related to a problem? Please describe.

Usually a tool is able to print its version like on of these
[code]
Otherwise it is hard to know which version I am currently using

## Describe the solution you'd like

One of these (or comparable solutions) print the full version of supabase cli.
[code]

## Describe alternatives you've considered

Did not find

[2022-11-23 01:42] soedirgo commented on #631
Hey there, you can use that command to print the version:
[code]

[2022-11-23 01:42] #631 closed

[2022-11-23 06:44] Gerschtli commented on #631
Strange, I thought I tested it. Will check it :)

[2022-11-23 11:11] soedirgo commented on #631
Hmm, that is very odd:

[code]

Thanks for reporting this. Can you share you system info (OS, arch, method of installation)?

[2022-11-23 13:22] Gerschtli commented on #631
I am building the package with [nix](https://nixos.org/manual/nix/stable/) on Ubuntu 20.04, x86_64

[code]

`build.nix`:
[code]

Basically what nix does is building the go module, I am not familiar with the different ways how to build a go project, but [here](https://github.com/NixOS/nixpkgs/blob/997423cdfc6ea4e9acb67aa1cbc49014632dbf75/pkgs/build-support/go/module.nix#L191) is the bash code that

[2022-11-23 17:23] fkoch-tgm commented on #627
I have the same Problem with basically the same debug output.

## System information

 - OS: Linux 5.15.78-1-MANJARO
 - Version of supabase-cli: 1.15.0
 - Version of Node: v19.0.1

[2022-11-23 18:15] vikiival opened #632 "Cannot make `supabase start`"
# Bug report

## Describe the bug

When I try to do `supabase start` it fails on `unknown image`

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Download latest Supabase CLI
2. Type `supabase start`
3. See error

## Expected behavior

Supabase CLI should start normaly

## Screenshots

[code]

## System information

- OS: MacOS 12.5.1
- Version o

[2022-11-23 23:12] haydn opened #633 "Storage API fails to copy file"
# Bug report

## Describe the bug

In development, using the storage API to copy a file like this:

[code]

Results in this error:

## To Reproduce

1. Create a new project: `supabase init && supabase start`
2. Create a bucket: `supabase.storage.createBucket("example-bucket")`
3. Add a file to the bucket: `supabase.storage.from("example-bucket").upload("example-file", file)`
4. Attempt to copy the

[2022-11-24 10:17] vikiival commented on #632
Got even 100% 🙃

<img width="307" alt="Screenshot 2022-11-24 at 10 16 32" src="https://user-images.githubusercontent.com/22471030/203758652-db55ae91-9081-451c-8f1e-8ab80bc7fe76.png">

[2022-11-24 18:22] pmaddi opened #635 "No return type generated for rpc functions that return TABLE"
# Bug report

## Describe the bug

No return type generated for rpc functions that return TABLE. If it's expected that this doesn't work, the documentation ought to say so.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

Create a function like
[code]

Generate types
[code]

types:
[code]

## Expected behavior

Returns isn't of unknown type.

[2022-11-24 19:02] cohlar commented on #441
Hi, I'm having the same issue with version `1.15.0`. I installed supabase running `yarn add -D supabase`.

[2022-11-24 19:22] crawfordleeds commented on #243
@LeviticusNelson how do you find your project ref?

[2022-11-25 04:38] sweatybridge commented on #632
Hi @vikiival, is it stuck at 100% or did it finish downloading the image? I suspect it's an ephemeral issue with ECR.

You may also try the alternative docker registry:

[code]

[2022-11-25 05:59] sweatybridge commented on #631
The CLI version is injected at link time using [ldflags](https://github.com/supabase/cli/blob/main/.goreleaser.yml#L8). Most likely you need to edit your `build.nix` file to include the version as part of go build command.

[2022-11-25 06:08] sweatybridge commented on #625
I suspect there's a hidden file named `./supabase/migrations/.DS_Store`. You can check with the following command:

[code]

We will likely require all migrations to use `.sql` extension. But since it is a breaking change, I will do that in CLI v2.

[2022-11-25 10:00] Gerschtli commented on #631
Works like a charm, thank you! `supabase-cli` will be available in nixpkgs soon :) https://github.com/NixOS/nixpkgs/pull/202085

[2022-11-25 10:32] JamesLloydPartington opened #730 "Unable to run`supabase init`"
# Bug report

## Describe the bug
When running `supabase init` I get the following error:
[code]

The `--debug` displays no extra info

## To Reproduce

[code]

## Expected behavior

Initialise a new supabase project locally

## Screenshots

N/A

## System information

Mac M1

## Additional context

I do have supabase/config.toml in other directories, but I really do not want to delete them just t

[2022-11-25 13:36] sweatybridge commented on #627
Hi, could you try the alternative command below:

[code]

We will add a deprecation notice to `db remote changes` in the next CLI release.

[2022-11-25 20:40] acurrieclark opened #637 "Postgres connection authentication from a local edge function fails"
# Bug report

## Describe the bug

On a freshly initialised supabase local dev setup, an attempt to connect to the postgres db fails.

## To Reproduce
In your terminal:
[code]

Add postgres connect code (taken from the functions homepage) to your new function, before the `serve()` call so that it runs immediately:
[code]

Back in the terminal:
[code]

The edge function will then start, but error i

[2022-11-25 21:37] acurrieclark opened #638 "Set CORS headers for Edge Functions 401 response"
# Bug report

Originally posted in the main [supabase repo](https://github.com/supabase/supabase/issues/9373), but reposting here as it seems to have regressed.

## Describe the bug

When attempting to call an edge function with a **bad token**, the function rightly issues a 401 response. However, while CORS headers appear to be set for the preflight OPTIONS request, they are not for the subsequen

[2022-11-26 03:10] ferpintado commented on #612
I am having the same issue. I recently upgrade from version 0.29.3 (I know pretty old) to 1.15.0 and it shows errors such as
`"ERROR: schema "extensions"` does not exist" , `auth.role()` and `"auth.users"` does not exist.

[2022-11-26 16:02] acurrieclark commented on #638
I have just done some further testing, and can verify that this does not occur in a production supabase function.

[2022-11-26 18:09] JPVRS opened #728 "Can't install CLI - type error"
What the title says... the output is below. Any help would be appreciated. If more information is needed from me, please let me know what that information would be.

[code]

[2022-11-27 03:00] GZGavinZhao opened #641 "Unable to insert row after creating a table in seed.sql"
# Bug report

## Describe the bug

Unable to create a table and then insert a row when using `supabase start`.

## To Reproduce

1. Go to `supabase/seed.sql`.
2. Add the following code:
[code]
3. Run `supabase start`.
4. See error: `Error: ERROR: relation "example" does not exist (SQLSTATE 42P01)`.

## Expected behavior

Row is inserted correctly and no error appears.

## Debug Output

[code]

##

[2022-11-27 03:20] sweatybridge commented on #641
Hi @GZGavinZhao, the intended way of using `seed.sql` is to write data insertion / deletion only. Schema migrations such as create / alter table should be created under `supabase/migrations/<timestamp>_name.sql`.

We are looking into ways of better initialising project so that the guide rails are clearer. For now, this is working as intended.

[2022-11-27 03:21] sweatybridge commented on #641
Related https://github.com/supabase/cli/issues/599#issuecomment-1312530629

[2022-11-27 05:53] #641 closed

[2022-11-27 05:59] #167 closed

[2022-11-27 06:00] sweatybridge commented on #167
Closing this as won't fix because docker is a prerequisite for using the CLI.

[2022-11-27 06:22] #477 closed

[2022-11-27 06:24] sweatybridge commented on #477
We updated the way shadow database is created in the latest version. Feel free to open this issue again if the problem still persists.

[2022-11-27 06:32] sweatybridge commented on #451
Exporting env vars is now possible with the `status` command:

[code]

More examples are available under `-h` flag.

@ryanalta do you mind creating a separate issue for making the hardcoded values dynamic/configurable?

[2022-11-27 06:32] #451 closed

[2022-11-27 06:36] sweatybridge commented on #480
Possibly related to https://github.com/supabase/cli/issues/270. Would be helpful to remove the hardcoded hostnames for other services too.

[2022-11-27 13:44] vikiival commented on #632
Hi @sweatybridge after 100% an error appears.

[code]

I'll try different image registry

[2022-11-27 17:31] Maca001 opened #643 "Authorities"
# Bug report

## Describe the bug

A clear and concise description of what the bug is.

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Go to '…'
2. Click on '…'
3. Scroll down to '…'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain

[2022-11-28 00:42] GZGavinZhao commented on #265
I think the OP meant that when running a local dev instance using `supabase start`, `cli` can use `podman` to spin up the containers instead of using `docker`.

The main reason for this is that afaik on many Linux systems (including mine), running `docker` requires user privileges, so any command that requires interaction with the containers (e.g. `supabase start`, `supabase db remote commit`, etc

[2022-11-28 06:07] #643 closed

[2022-11-28 08:58] sweatybridge commented on #632
Might also be worth checking if regular docker pull / run works

[code]

[2022-11-28 09:17] sweatybridge commented on #627
As of version 1.16.1, the following alternative is suggested

[code]

Feel free to open again if the alternative doesn't work.

[2022-11-28 09:17] #627 closed

[2022-11-28 10:30] acurrieclark commented on #637
After further exploration of this issue, I have come to the conclusion that this effects the production setup too. I have created a [new issue](https://github.com/supabase/supabase/issues/10577) on the mane Supabase repo

[2022-11-28 10:30] #637 closed

[2022-11-28 19:15] point-source commented on #490
Sure enough, that fixed it! Thanks @soedirgo :D

[2022-11-28 19:15] #490 closed

[2022-11-28 19:27] Evaldas-B opened #646 "Linking to a remote project fails using supabase cli"
# Bug report

## Describe the bug

Linking to a newly created supabase project fails using `npx supabase link --project-ref $projectRef -p $password` but is successful when debug flag is included: `npx supabase link --project-ref $projectRef -p password --debug`

## To Reproduce

1. Create a new project from supabase.com or CLI
2. Run `npx supabase link --project-ref $projectRef -p password`
3. Li

[2022-11-29 02:48] sweatybridge commented on #646
It seems like your project domain name is resolving to localhost. Could you check the output of the following PowerShell command?

[code]

[2022-11-29 03:50] princemaple commented on #646
Hi, I'm getting the same error.

DNS resolution seems to be fine. It points to an EC2 domain.

[2022-11-29 03:50] henningko opened #647 "`db push`: Permission error with cron extension"
# Bug report

## Describe the bug

I am trying to to move my production environment into a CI/CD workflow as outlined here: https://supabase.com/docs/guides/cli/managing-environments

When GitHub processes the first push to an empty staging, it fails with the following error:
`ERROR: must be owner of table job (SQLSTATE 42501);`

A previous permission issue, similar to [this discussion ](https://g

[2022-11-29 08:06] Evaldas-B commented on #646
Can confirm that it points to `ec2-35-158-234-7.eu-central-1.compute.amazonaws.com`

![image](https://user-images.githubusercontent.com/53705834/204473139-69d2b466-e225-433b-bb02-8b834d69be4c.png)

[2022-11-29 12:35] vixalien opened #650 "Can't db diff with migra anymore"
# Bug report

## Describe the bug

When you try to diff the database with the `--use-migra` flag, it fails. THe error thrown is:

[code]

I can confirm running without migra works (although the diff is more verbose)

## To Reproduce

Run

[code]

## Expected behavior

I expected it to do a correct migration since running without `--use-migra` works.

## Screenshots

If applicable, add screenshots

[2022-11-29 12:59] sweatybridge commented on #650
Sorry about that. It was a regression in 1.16.0. I've pushed a fix that should be available shortly.

[2022-11-29 14:33] vixalien commented on #650
Nice. thanks.

[2022-11-29 16:11] trbtm opened #653 "db diff creates incoherent migration SQL"
# Bug report

## Describe the bug

The bug is closely related to #496 and seems to have the same cause. pgAdmin/supabase is not creating the tables in right order so that the migration will work when applied. Tables are referenced before they are created. Sometimes the order is correct and sometimes not. It is a matter of running it often enough and hope the order is correct or sorting things manu

[2022-11-29 18:09] henningko commented on #647
I just ran

[code]

when signed in as user `postgres`. The result of  `select tablename, tableowner from pg_tables WHERE tablename = 'job’;`:
| tablename | tableowner     |
|-----------|----------------|
| job       | supabase_admin |

So the quick fix seems to be to change owners of the `cron` tables back to `supabase_admin`. However, root cause of the migration problems seem to be that it’s not

[2022-11-30 00:28] GZGavinZhao commented on #265
I recently discovered that `cli` has the capability to use  `podman`. It seems like under the hood, `cli` uses `docker compose` to start & orchestrate the containers, so all we have to do is to let `docker compose` know that we want to run our containers using `podman`. On Linux, the steps are similar to:

[code]
Now the only problem I have is when I run `supabase start`, it gives me `Error: unabl

[2022-11-30 06:43] soedirgo commented on #647
Hey there, thanks for reporting this issue.

One thing to note is on the hosted environment, extension creation is delegated to a superuser, which is why the owner becomes `supabase_admin` instead of `postgres`.

Yes, this does get problematic - eventually we want to make the local environment as close as possible to the hosted environment so this kind of problem doesn't arise.

This wouldn't work

[2022-11-30 07:51] PeterKey commented on #653
Luckily I found this issue - dodged a bullet there. Thought I was doing something wrong.

I saw that you are using a forked version with no extra commits of pgadmin. Even though I couldn't find a specific commit maybe this is fixed in upstream?

[2022-11-30 12:52] o1dnik commented on #265
I think that the biggest issue running many docker containers on local machine is possibility to run out of memory. Podman is much more lightweight. Is there any other reason to use it instead of Docker?

[2022-11-30 19:52] ryanalta commented on #451
@sweatybridge can do!

[2022-11-30 20:01] ryanalta opened #654 "add service role and anon keys to config.toml, use these keys throughout whole environment"
# Feature request

## Is your feature request related to a problem? Please describe.

It is related to another feature request, but not a problem. Was asked in #451 to create a new issue, so I am doing so.

## Describe the solution you'd like

It would be great to be able to specify your own service role, anon keys, and JWT keys in the config.toml file. I see that the keys that are displayed via `

[2022-11-30 21:35] dallastjames commented on #531
While this issue is specifically around range types, I'd love to see a way to be able to handle columns that come from any extension in a generic way. In my case, I have a username column using the `citext` extension which in turn is reported as `unknown` in the generated types. I'm aware of this extension and what type it should be generated as, so best case for me is a way to tell the command, "